[2018-07-25 20:21] ashcrow opened #1 "MCD: How to verify OS version"
A todo is listed in the MCD spec. Adding some info here to see if this is helpful ....

`rpm-ostree` provides a `status` and `-b` shows the currently booted version:

[code]

One could use standard tools to verify the new version if need be via the MCD:

[code]

Information can be received through `dbus` as well. As an example see [ostree CLUO](https://github.com/ashcrow/container-linux-update-ope

[2018-07-25 20:48] sdemos commented on #1
I think in the case of MCD the dbus approach would be better. This does look like the way to go though.

[2018-07-25 21:01] jlebon commented on #1
There's a `BootedDeployment` property on the `org.projectatomic.rpmostree1.OS` interface that should do the trick. (You can the object path to the booted OS from the `Booted` property on the `Sysroot` interface).

[2018-08-02 19:26] jlebon opened #8 "Add a basic HACKING.md"
It'd be nice if there was a `HACKING.md` with instructions on how to build and test this code in a real cluster. I know a lot of this stuff is still :construction: under construction :construction:, though such a doc, even if primitive/high-level, would help other contributors start hacking early on.

[2018-08-07 15:21] ashcrow opened #9 "MCD: Skeleton code"
Reminder that we are waiting on MCD skeleton code which implements the contract to MCO. We will then pick up and implement the internals (diffs, ostree integration, etc..).

[2018-08-08 19:26] abhinavdahiya commented on #9
@ashcrow PR #12 adds the machine config daemon.

[2018-08-10 23:46] #9 closed

[2018-08-10 23:47] vikramsk commented on #9
Daemon added in #12

[2018-08-22 13:19] ashcrow commented on #8
@jlebon I added basic build instructions as part of 4fe5522bc7887c11aab4be554fe7c39627582436. I'll add a PR for using `go test` as there isn't a `Makefile` or other single location to execute such things yet.

[2018-08-22 13:34] jlebon commented on #8
Thanks! Yeah, the building part is nice. Though the more interesting part is actually deploying it onto a cluster to test it. AIUI, this is done right now by instantiating the resource files in `manifests/`.

[2018-08-22 13:38] ashcrow commented on #8
:+1: I'll defer the instantiating resources item to folks who are doing that today as I haven't had to do so yet in my development.

[2018-08-22 14:28] ashcrow opened #23 "MCD System Bind Mounts"
I was reminded by @lucab this morning that the MCD will be running as a container. Since this container will need to modify system files and execute system level binaries we will need to mount in volumes to the container (https://github.com/openshift/machine-config-operator/blob/master/Dockerfile.machine-config-daemon).

Is there currently an expected mount point or sets of mount points we should

[2018-08-22 14:36] ashcrow commented on #23
This was found in cmd/machine-config-daemon/start.go. As part of #17 I'll update references to use the path.

[2018-08-22 14:45] #23 closed

[2018-08-22 20:48] sdemos opened #24 "consider making MCD a component of the host"
I'm opening this issue to see if it makes sense to have the MCD be a component of the host operating system.

there are some benefits we would get from this. for one, we are currently discussing the need to have the daemon `chroot`/`nsenter` to make sure it can properly make changes to the host. it seems to me like it's a little silly to run a program in a container just to manually `nsenter` back

[2018-08-22 20:50] ashcrow commented on #24
/cc: @lucab

[2018-08-22 20:56] ashcrow commented on #24
As noted, I share the same question. @lucab worked with me earlier today as we were talking about having MCD run within a container and how we would need to `nsenter` w/ `chroot`  in golang feels way to magical. I'm not sure it would be worth it if we don't get a large boon from running the MCD in a container.

[2018-08-22 21:05] dustymabe commented on #24
unless there are technical chicken/egg "gotcha" scenarios I'd be a fan of having it in the host.

[2018-08-22 21:11] jlebon commented on #24
Also note that there are gotchas associated with just bind-mounting the whole rootfs, e.g.: https://bugzilla.redhat.com/show_bug.cgi?id=1493267.

[2018-08-23 08:43] lucab commented on #24
Things that we implicitly get from running as a k8s pod:
 * up-to-date secrets/client-config to talk to the API server
 * taint and annotation aware scheduling
 * cluster-wide network policing (e.g. for the `/metrics` endpoint)
 * log collection, discovery for telemetry
 * any kind of in-cluster customization/settings (e.g. proxy templating, CA store injection)

In general, we are trying to push t

[2018-08-23 11:44] eparis commented on #24
While it is easy for us to install the MCD on RHCOS the organization is very very strongly opposed to more things to install on BYOH. Doing the MCD as a container relieves the install/upgrade/maintenance burden from the customer and puts the burden for software management on Red Hat. This is where the burden belongs. If the immutable host team does chose to install the MCD on host, then the ummuta

[2018-08-23 13:43] ashcrow commented on #24
I'd like to use the same patterns with other Openshift teams when it comes to solving this problem. In the meantime we may want to follow the path of least resistance. I'm not the biggest fan of copying to the host when the tradition is linking, but that seems a heck of a lot easier to maintain and debug than importing a magic cgo library.

[2018-08-23 14:14] ashcrow commented on #24
To close this off, @lucab and I sat down today and enumerated the different options we could use to keep the MCD containerized. Of them the simple `chroot` pattern made the most sense at this point in time. I'm going to create a new set of work for executing an early `chroot` in the MCD's life cycle so references and paths can be utilized without the additional cgo+magic required to fully enter th

[2018-08-23 14:50] smarterclayton commented on #24
I would expect the learnings from this team on how the MCD works on RHCoS to be the seed for MCD on RHEL.  Ideally, the team would be thinking about how the specifics of MCD *could* apply to both, and then be able to communicate / educate others on it.  I.e.:

1. would update and reboot just be the same pattern on both
2. when RHCoS hits a crazy failure mode that is unrecoverable, what does MCD do

[2018-08-23 19:58] sdemos commented on #24
Well, this seems to have been sufficiently considered.

I appreciate everyone's input on this! It cleared a lot of things up for me, and now I'm fully on board with having the MCD be containerized.

[2018-08-23 19:58] #24 closed

[2018-08-24 21:31] jlebon commented on #1
I don't seem to have access to assign myself to this issue. Someone who can, please do.

[2018-08-27 13:10] ashcrow commented on #1
@jlebon even though you are a `MAINTAINER` it seems like you may be missing a group. I can't seem to add you either.

[2018-08-27 23:09] wking commented on #1
/assign jlebon

^ The bot will probably fail to apply this, but it will give us a nice error message we can link when pestering org admins to get @jlebon added ;).

[2018-08-28 17:57] abhinavdahiya opened #31 "Machine Config Operator is root in cluster"
MCO manages `ClusterRoles` and `ClusterRoleBindings` so that MachineConfig{Controller, Server, Daemon} can access and manage:
1. CRDs
2. MachineConfigs and Pools (cluster scoped)
3. Node annotation updates

Should MCO be given root access to cluster?

/cc @aaronlevy @eparis

[2018-08-28 17:57] abhinavdahiya commented on #31
/assign @openshift/installer

[2018-08-28 17:58] abhinavdahiya commented on #31
/assign @abhinavdahiya

[2018-08-30 13:25] cgwalters commented on #1
There's also `rpm-ostree status --json`.

[2018-08-30 13:30] ashcrow commented on #31
I tend to think that MCO shouldn't have root like access to the cluster, but instead have specific access granted to CRDs, MCs, Pools, and annotation modification abilities. Unless, of course, finer grained access isn't possible, though I think it's likely doable with roles and service accounts.

[2018-08-30 18:49] aaronlevy commented on #31
Overall agree - however, a sort of unanswered question is how we want to deal with setting up the roles that each SLO needs (and what the managed components of the SLO need).

We could have the TLO  be responsible for this, but it does have some risk that state of the SLO (and SLO components) are bleeding into TLO and are less self-contained.

For the TLO we were going to assume a `/manifests` dir

[2018-08-30 19:48] smarterclayton commented on #31
I think the manifest should declare their roles.  We should periodically do
a review of the roles.  Every operator should define their own role and we
review it in situ.

Good point on the deletion, if CVO was grabbing new manifest and old
manifest we would know, but we don't know that in the model where the CVO
image has the manifests layered on top.  Also, we probably need to preserve
declarativ

[2018-08-30 20:06] eparis commented on #31
I tend to believe that {Cluster,}Role{,Bindings} needed by the SLO should be declared in /manifests and should be blindly applied by the CVO.

Delete sounds hard.

[2018-08-30 20:34] aaronlevy commented on #31
I think "needed by the SLO" everyone is pretty much in agreement. But do we extend that to "Needed by all components managed by the SLO". For example, Network-Operator (SLO) might have one role/binding, while Calico (component manged by SLO) has its own role/binding.

It gets a little weird with assuming that all {Cluster,}Role{,Bindings} are the responsibility of CVO. In some cases the SLO manage

[2018-09-05 21:23] jlebon opened #45 "Regression from chroot; service account cert left behind"
[code]

Looks like we need to copy the cert before we chroot.

Though this raises the higher level question of how much will `chroot()` affect how well we mesh with Kubernetes. (How common is it to do an early `chroot()` on the main process in Kube containers?)

[2018-09-05 21:29] jlebon commented on #45
This is a bit late, though looking at the original threads that spawned this change (#17 and #24), ISTM like the main reason for doing an early `chroot` was to work around the symlink-over-bind-mount issue, right?

For systemd units specifically, could we not use the systemd D-Bus API directly? And then if the need comes up otherwise to resolve symlinks, we can just do one-off `chroot` invocations

[2018-09-05 21:43] sdemos commented on #45
I have to guess that it's not common at all.

Another possible solution would be to chroot after getting all the info we need from kubernetes, and right before the files and units are evaluated. Not sure which is better. Are there semantic differences between a manual symlink and calling the dbus api?

/cc @ashcrow @lucab since they were also part of the precipitating discussion on this topic.

[2018-09-06 08:34] lucab commented on #45
I'll try to answer all the questions to the best of my knowledge.

If I understood this suggestion correctly, I fear this would clone k8s objects and leak them to the host filesystem. That seems to introduce lifecycle/GC and confidentiality concerns to me.

I've never seen this. On the other hand many software are just plainly broken when doing path-resolution over a rootfs bind-mount, because the

[2018-09-06 13:43] ashcrow commented on #45
It is possible with the right mounts. But keep in mind that the MCD also drops files in different locations. We would still need to chroot (or something similar).

I'm more in favor of this path as long as we verify @lucab's notes.

[2018-09-06 13:46] ashcrow commented on #45
/assign ashcrow

[2018-09-06 16:44] jlebon commented on #45
My argument was that Ignition is also subject to this, but it has managed fine (or did this bite some users?).  Of course the difference is that at the time Ignition runs, there's no live system running under `/sysroot`; it's just a plain partition mount and so the state of the disk is in a much more controlled state. So overall, I do agree that the analogy doesn't apply.

[2018-09-06 18:59] ashcrow commented on #45
@jlebon can you verify #46 fixed this and close this issue if so?

[2018-09-06 19:20] sdemos commented on #45
@ashcrow did you also investigate the effects of this on possible kubernetes lazy-loading and other problems that @lucab brought up in his comment? I didn't see any followups and I'm curious what the outcome was on how this change effects that.

[2018-09-06 19:57] ashcrow commented on #45
@sdemos I didn't dive into the kubernetes client code to see if it was doing anything fancy to reload itself on file changes. I can do so though. I took @lucab's note more as a 'it's a possibility that something does something fancy' though I may have misread.

[2018-09-06 20:03] sdemos commented on #45
I was just wondering because you mentioned it as something to verify but I didn't see anything and was curious.

[2018-09-06 20:07] ashcrow commented on #45
@sdemos fair point. I'm taking a gander now :-)

[2018-09-06 20:17] ashcrow commented on #45
- A quick skim through of the client code shows that the config is loaded and then used. I don't see any inotify or other reloading
- The cert loading is now happening before we chroot
- There is reference to `/proc` in `apimachinery/pkg/util/net/interface.go` which is used in `transport/round_trippers.go`, `transport/cache.go`, `rest/request.go`, and `kubernetes/typed/core/v1/service_expansion.go

[2018-09-06 21:00] ashcrow commented on #45
- `transport/round_trippers.go` uses `CloneRequest` which isn't using mounts
- `transport/cache.go` uses `SetTransportDefaults` which isn't using mounts
- `rest/requests.go` uses `IsProbableEOF`, `IsConnectionReset`, neither of which use mounts
- `kubernetes/typed/core/v1/service_expansion.go` uses `JoinSchemeNamePort` which does not use mounts

[2018-09-10 14:18] #8 closed

[2018-09-14 21:24] jlebon opened #66 "MCD needs more perms to reboot the node"
[code]

[2018-09-14 22:47] abhinavdahiya commented on #66
@jlebon to can add somethinf similar to:
[code]
https://github.com/openshift/machine-config-operator/blob/master/manifests/machineconfigdaemon/clusterrole.yaml#L7

[2018-09-15 22:14] eparis opened #68 "MCD "regularly" restarts"
Watches can time out/expire. Likely this should be more gracefully handled..
[code]

[2018-09-17 14:13] ashcrow commented on #68
I'll take a look at this.

/assign @ashcrow

[2018-09-17 14:13] ashcrow commented on #68
/type bug

[2018-09-17 14:13] ashcrow commented on #68
/kind bug

[2018-09-17 15:33] #66 closed

[2018-09-17 17:39] jlebon opened #71 "Update k8s drain lib so we can use stable daemonset API group"
See https://github.com/openshift/machine-config-operator/pull/70#discussion_r218148579.

[2018-09-17 17:42] ashcrow commented on #71
/kind enhancement

[2018-09-17 18:25] ashcrow opened #73 "Add MCD OWNERS to manifest files"
Currently those who are MCD owners have access to the code, but not the manifests/yaml files related to the code. Would it make sense to add them for things such as https://github.com/openshift/machine-config-operator/pull/60#issuecomment-422119132?

[2018-09-17 18:36] sdemos opened #74 "the MCD shouldn't mark a node degraded because of it's own bugs"
There are several bugs right now (#66, #68 for example) which, because they trigger errors, set the node into a degraded state. It seems to me like we should consider breaking up "this error means there is something wrong with the node that we can't fix" and "this error means there is something wrong with us or our configuration" wherever possible, so that we aren't throwing around the degraded la

[2018-09-17 18:41] jlebon commented on #73
Seeing as the MCD-specific manifests are already split in a separate subdir, we can do this without granting permissions to the rest of the manifests. I opened https://github.com/openshift/machine-config-operator/pull/75.

[2018-09-17 18:51] ashcrow commented on #74
/kind question

[2018-09-17 18:53] jlebon commented on #74
Yeah, that makes sense to me.

Is this currently the only code that would read the degraded state label?

[2018-09-17 18:53] ashcrow commented on #74
I think this makes sense. Should we create a type to hold internal items like this and pass it around, or do you think that `degraded` would be the only extra item to pass around?

[2018-09-17 19:14] abhinavdahiya commented on #73
I think OS team should have admin access to this repo. You guys will have to own entire code soon. :)

/cc @crawford

[2018-09-17 19:18] sdemos commented on #74
afaik, but I don't know if there are plans in the future to key off of it for different things instead, so either way we should be careful with the semantics of the degraded state label.

I don't foresee anything else that we would generally want to pass around that are in this category. If something else comes up in the future, it shouldn't be a hard refactor to change it to a type, but for now I

[2018-09-17 19:18] sdemos commented on #74
/assign @sdemos

[2018-09-17 20:55] jlebon commented on #73
AFAIK, that is not actually the case.

[2018-09-17 21:04] eparis commented on #73
I will have a conversation with Ian.

[2018-09-18 14:21] ashcrow commented on #68
This should be fixed with #76.

[2018-09-18 15:11] #73 closed

[2018-09-18 18:33] #45 closed

[2018-09-19 16:24] sjenning opened #79 "MCD hot looping, 100% cpu"
[code]

Using libvirt.  Some time (it varies) after a worker comes up via the Machine API actuator, the MCD starts hot looping.

SIGABRTed to get the stack trace
[code]

@rphillips you see this?

[2018-09-19 16:27] ashcrow commented on #79
/cc @sdemos

[2018-09-19 16:33] ashcrow commented on #79
We recently added in a fix to keep the MCD from restarting the entire pod when the watch ended. I'm wondering if we need to add a backoff to the rewatch, or if somehow checking for error is causing an error (and thus a tight loop).

[2018-09-19 16:47] ashcrow commented on #79
Hrm. No the loops seem fine.

[2018-09-19 16:50] ashcrow commented on #79
Are we possibly racing on node annotations?

[2018-09-19 16:58] ashcrow commented on #79
/kind bug

[2018-09-19 16:59] ashcrow commented on #79
/kind jira

[2018-09-19 17:21] ashcrow opened #80 "MCD: Log level clean up"
In the logs we are using a combination of default verbosity and 2. However, most, if not all, of our current logging seems like it would be beneficial in normal circumstances.

## What brings this up

Looking at the log output of https://github.com/openshift/machine-config-operator/issues/79 brought this to mind.

## Proposal

- Use default V for general information useful to admins
- Use `V(2)` f

[2018-09-19 18:11] ashcrow commented on #79
@sjenning noted that he is seeing this on a master as well which indicates it's behavior in the mcd itself and may not be related to anything modifying cluster resources.

[2018-09-19 18:28] ashcrow commented on #79
I could see this occurring if the watch client gets an error every time it tries to initiate a new watch. If that occurred the loop could be very fast. In theory that should not happen, at least not for any amount of time that would cause a crazy amount of load, *but* it doesn't hurt to guard against it.

[2018-09-19 19:19] jlebon commented on #80
Or maybe just two levels? I.e. the default, and `V(2)` for debugging? The more levels you have, the more you have to think about each print statement you add. Whereas "is this only useful for debugging?" is easier to answer.

[2018-09-19 20:52] ashcrow commented on #80
I'd be fine with two levels.

[2018-09-19 21:35] sjenning commented on #79
increased logging `-v=2` but didn't get anything useful
[code]
[code]

[2018-09-19 21:40] ashcrow commented on #79
That indicates https://github.com/openshift/machine-config-operator/blob/master/pkg/daemon/daemon.go#L112 is being called and https://github.com/openshift/machine-config-operator/blob/master/pkg/daemon/daemon.go#L128 is hit.

That's pointing to https://github.com/openshift/machine-config-operator/blob/master/pkg/daemon/daemon.go#L101 being where we fall back to to wait for the next change from the

[2018-09-19 21:43] ashcrow commented on #79
@sdemos I don't think we'd need to create a new watcher for each iteration, but maybe we do?

[2018-09-19 22:16] ashcrow commented on #79
It's worth noting that @sdemos has not been able to reproduce this (yet).

[2018-09-19 22:34] sdemos commented on #79
@sjenning what version of openshift/rhcos are you using that this is happening on? I have a libvirt cluster on my machine using the installer at https://github.com/openshift/installer/commit/d0b3f913981ef79fd58f089909d7ef1918aa3894 and rhcos v4.0.5836 and it seems to be running without issue right now.

[2018-09-19 23:28] sdemos commented on #79
apparently @abhinavdahiya has the same issue on his libvirt cluster, mine's probably not been running for long enough to trigger the watch restart yet.

I'm having him run the patched version of the mcd to test out if it fixes it for him. if it doesn't spike cpu after about 2 hours or so I'm going to merge the change in, otherwise I'll revert https://github.com/openshift/machine-config-operator/pu

[2018-09-20 01:42] #79 closed

[2018-09-20 15:44] wking opened #85 "Early OSTree / oscontainer pivots in served ignition"
The config server will want to vendor the installer code which grows out of openshift/installer#281 to get workers up on the right oscontainer / OSTree commit.

[2018-09-20 15:48] wking commented on #71
Should this be an issue in openshift/kubernetes-drain?  And should we get an `OWNERS` there with some of you on it?

I'd [still][1] like to get that library upstreamed into client-go or some such; anything that would help move in that direction is welcome :).

[1]: https://github.com/kubernetes/kubernetes/issues/25625#issuecomment-405056988

[2018-09-20 15:53] sjenning commented on #79
#82 did not fix.  https://github.com/openshift/machine-config-operator/pull/86 as a big hammer until we get it figured out.

[2018-09-20 16:06] ashcrow commented on #79
:hammer: :hammer: :hammer:

[2018-09-20 19:51] ashcrow commented on #80
/assign kikisdeliveryservice

[2018-09-20 19:51] ashcrow commented on #80
@kikisdeliveryservice is picking this work up. Thanks @kikisdeliveryservice!

[2018-09-20 20:32] kikisdeliveryservice commented on #80
So to confirm, I'm updating functions in daemon/update.go using the default and V(2) as appropriate?

[2018-09-20 20:56] ashcrow commented on #80
@kikisdeliveryservice in part yes :-). There are a few things to do to close this issue:

1. Ensure that default (no `V`) use is consistent
2. Ensure that `V(2)` is consistent
3. Add logs for both verbosity to help support folks know what's happening.

Think of the default as `info` level and `V(2)` as `debug` level.

[2018-09-20 20:59] kikisdeliveryservice commented on #80
@ashcrow Thanks for the clarification!

I'll link to my WIP once I have something pushed.

[2018-09-25 16:22] kikisdeliveryservice commented on #80
/close

[2018-09-25 16:22] #80 closed

[2018-09-25 20:59] jlebon opened #93 "MCO doesn't wipe out added `command` in spec"
[code]

The operator correctly restores the `args` var, but not the `command`, presumably because there is no `command` defined in the manifest either.

[2018-09-26 13:10] ashcrow commented on #93
/cc @abhinavdahiya @crawford

[2018-09-27 19:43] sdemos opened #97 "MCD doesn't always fully apply new configs"
The [top-level logic of the daemon](https://github.com/openshift/machine-config-operator/blob/3a73b1d142eb1efb3fad5b160915e6ddf3d38311/pkg/daemon/daemon.go#L104) currently goes something like this -
* daemon starts up
* check if the machine is in the desired state, as defined by the desiredConfig annotation. this call returns true if currentConfig == desiredConfig [1], and if it doesn't it checks

[2018-09-27 20:08] sdemos opened #98 "MCD: consider removing annotation equality checking from node validation logic"
the current [validation logic](https://github.com/openshift/machine-config-operator/blob/3a73b1d142eb1efb3fad5b160915e6ddf3d38311/pkg/daemon/daemon.go#L198) in the MCD first checks if the annotations on the node are equal. if they are, it assumes that the node has a valid configuration.

this assumption does make some amount of sense. we are generally careful to validate the node state before mark

[2018-09-27 20:27] sdemos opened #99 "MCD: consider taking action if validation fails multiple times"
a node is validated after being updated but before being marked as completed. this validation normally happens after a reboot. if this validation fails, the update is attempted again, ad infinitum.

there are three reasons I can think of that would cause validation to fail.
1. a bug in the validation logic.
2. a bug in the update application logic.
3. there is something wrong with the machine that

[2018-09-27 20:28] jlebon commented on #98
Yeah, dropping that assumption and just always checking makes sense to me. Though if we end up going with option 3 in #97, this part will get obliterated anyway, right?

[2018-09-27 20:31] sdemos commented on #98
the way I was envisioning it, the validation logic would stay the same in option 3, all that would change are the call sites of the validation function, so this change would still be required.

[2018-09-27 20:31] ashcrow commented on #97
I agree with @jlebon. Option 1 to me makes the most sense at least for now.

[2018-09-27 20:33] jlebon commented on #98
Right, definitely in the "gate" case, you wouldn't want to stop at just annotation checking. :)

[2018-09-27 20:34] jlebon commented on #97
Sigh, I had a typo for "cheaper to update than to check", I edited it to read "cheaper to check than to update".

[2018-09-27 20:35] kikisdeliveryservice commented on #97
I don't have much of a pony in this race =) but wondering @ashcrow if the "for now" in your response means you'd foresee us having to change it later?

[2018-09-27 20:36] kikisdeliveryservice commented on #97
Also thanks @sdemos for this comprehensive writeup!

[2018-09-28 14:02] ashcrow commented on #97
I don't forsee us *having* to change it in the future, but we may decide to do so.

[2018-09-28 15:28] ashcrow commented on #99
/kind jira

[2018-09-28 18:52] ashcrow opened #101 "MCD: Move sets of functionality with side effects to clients to allow for unit testing"
In https://github.com/openshift/machine-config-operator/pull/33 we identified that a major blocker for unittesting the MCD are all the side effects that occur from internal functions. The best way we came up with for getting around this limitation is to move things which cause side effects into clients. This issue is a tracker to link to as more of our items move over.

[2018-10-01 15:05] ashcrow commented on #99
No! :smiley:

If we can not validate the host then we are not in the state the cluster wants. My initial thought on the path here would be:

1. Attempt to validate the node
2. It fails. Log. Mark the node as degraded and try again.
3. It validates, log, remove degredation, note the node finished and is once again ready. It fails again. log then try once more
4. It validates, log, remove degredatio

[2018-10-01 15:05] ashcrow commented on #99
/cc @jlebon @kikisdeliveryservice

[2018-10-01 17:52] sdemos commented on #99
I was thinking about the possibility of removing the degraded tag as a solution to this problem, but I don't know what the exact semantics are around tagging a machine with that. My intuition says we shouldn't remove the degraded tag once we've added it, since the use that's always talked about for that tag is for a component to key off of it and reprovision the machine. It seems like if there is

[2018-10-01 17:56] ashcrow commented on #99
Fair enough :-)

[2018-10-01 19:01] sdemos commented on #97
I still think option 3 is the way to go here. I don't foresee any situations where we will be told to update to a valid config that doesn't actually require any changes (i.e. I think every change will either be invalid _or_ require us to apply the update). I think it's more likely we end up in a situation where we end up discounting configurations that have subtle side effects we don't account for

[2018-10-01 20:21] ashcrow commented on #97
I personally still like 1 because of the extra validation that occurs. It doesn't get skipped via following a different code path.

[2018-10-01 20:29] sdemos commented on #97
in option 3 validation still occurs for all updates, it just doesn't stop an update from being applied. validation would be the gate for marking a node update as completed, so it would have to happen.

[2018-10-01 20:41] ashcrow commented on #97
@sdemos In that case I misunderstood. So with 3 we still don't attempt to apply non-reconcilable MC's correct? If so, I'm fine with us running with 1 or 3 out of the gate.

[2018-10-01 20:50] sdemos commented on #97
yeah, reconcilability is still determined as part of the update flow, so configs will get rejected if we can't apply them. then we apply the update, and then validate that it was applied the way we expected it to be.

there is some slight complexity around handling updates that don't require reboots, but that complexity was always there, we just need to make sure we account for it.

[2018-10-01 20:57] ashcrow commented on #97
Unless @jlebon objects, then 3 WFM.

[2018-10-01 20:57] jlebon commented on #97
I think (3) is fine with me too. We can always make it smarter as well so we don't update things that obviously didn't change, e.g. not calling `pivot` if `bootedOSImageURL == desiredOSImageURL`.

[2018-10-01 21:12] jlebon commented on #99
I like the idea of trying a few times in case of transient flakes before setting degraded and promptly jumping ship (i.e. the daemon has no reason to be running once it's degraded, right?). Though that'd mean we'd need to store the number of times we tried somewhere... another annotation I suppose? Also would need to take care of resetting that counter if the desired config changes while trying ag

[2018-10-04 18:29] ashcrow commented on #101
/cc @kikisdeliveryservice @sdemos @jlebon for visibility

[2018-10-04 19:29] cgwalters commented on #101
For rpm-ostree we end up not having a whole lot of unit tests and heavily lean on "integration tests" which inject the built code into a VM.   We're slowly adding some more unit tests since Rust makes it trivial but still...

I haven't hacked on this code really much myself yet, but I imagine we'd like to have a fairly fast iterative flow that tests something more "real" with live Ignition, rpm-os

[2018-10-09 21:01] #97 closed

[2018-10-11 13:15] jlebon opened #125 "MCD: Actually handle directories and symlinks"
Right now, we're only handling the `files` list of the `storage` section. We should support `directories` and `links` too.

[2018-10-12 21:31] jlebon commented on #125
I started on this, but honestly I'm wondering if maybe we should discuss https://github.com/coreos/ignition/issues/599 some more first. There's already some duplication of Ignition code and there's opportunity for more sharing if we want to support directories and symlinks.

The main difference is that Ignition only has an "update" mode whereas the MCD has both a "check" and an "update" mode. Alth

[2018-10-15 13:42] ashcrow commented on #125
Having overlap is expected. Though I am all for the ability to share some functionality so we don't have to redevelop all required features as time goes on.

Did you find a use case that requires directories and links already? Or is this more so anticipating (correctly) that eventually we will need to support them?

[2018-10-15 14:36] ashcrow commented on #125
In that case I agree, implementing (or updating) similar logic in `ignition` in a way that will let us import and reuse is a better use of time as we don't have a need ASAP.

[2018-10-15 16:46] abhinavdahiya opened #127 "MCD: pods are crashlooping"
@sallyom reported that all the mcd pods are crashlooping.

[code]

/cc @sdemos

[2018-10-15 16:48] jlebon commented on #127
Hmm, OK just had reports of this internally as well. Odd though, since that logic hasn't changed recently. Will look into it.

[2018-10-15 16:49] jlebon commented on #127
/assign jlebon

[2018-10-15 16:52] ashcrow commented on #127
Looks related to https://github.com/openshift/machine-config-operator/pull/121

[2018-10-15 16:54] ashcrow commented on #127
I could see this happening if the [node was previously marked degraded](https://github.com/openshift/machine-config-operator/pull/121/files#diff-06b532a2a5a5d3ad1d5341b3e00945efR105)

[2018-10-15 17:43] jlebon commented on #127
Ahh OK, sorry for the confusion. This is indeed not the same thing as was reported internally with handling of `://dummy` URLs.

Right, though right now aren't we the only operators that set the degraded label? So it must have encountered an error in a previous run. Will try to reproduce this though `oc logs -p` from someone who's hitting this would help.

[2018-10-15 17:53] sdemos commented on #127
We should be, I'm pretty sure that the MCD owns the node status field entirely so if anything else is writing to it it's a problem. However, even if that is the case, (unfortunately) right now crash-looping is the name of the game until we get the work described in #109.

Is the issue that they are crashlooping like this on nodes that aren't currently set to degraded? I'm confused about what the b

[2018-10-15 17:56] jlebon commented on #127
Hmm, maybe the correct behaviour here until we actually use taints is to just sleep instead of exiting immediately so that we don't clobber `logs -p` output on the real failure.

[2018-10-15 17:57] ashcrow commented on #127
Yeah. I think `time.Sleep` (see pastebins from earlier) would be a good workaround for now.

[2018-10-15 18:14] ashcrow commented on #127
/kind bug

[2018-10-15 19:13] ashcrow commented on #68
@yuqi-zhang is working on this.

[2018-10-15 19:15] ashcrow commented on #68
/assign @yuqi-zhang

[2018-10-15 19:39] jlebon commented on #127
So, I can reproduce this. But the issue is that the logs indeed are clobbered. So it's still not clear what the actual error is. #129 should help but until that makes it to the latest installer image, I'm trying to figure out how to point the installer at a custom container containing that patch.

[2018-10-15 21:59] jlebon commented on #127
This should be fixed by https://github.com/openshift/machine-config-operator/pull/131.

[2018-10-16 00:35] kikisdeliveryservice opened #132 "MCD: TestReconcilable bug"
Since I'm updating the file update_test.go, I noticed an unintended bug in the TestReconcilable logic.
For all of the test cases after the "ignition" test, if the test case fails, all of the test cases afterwards also fail - resulting in confusing output:
[code]
**To reproduce:**
for the error case above, I commented out line 126 in update_test.go.

**Expected Behavior**
I should only be seeing a

[2018-10-16 13:11] ashcrow commented on #132
/assign ashcrow

[2018-10-16 13:12] ashcrow commented on #132
@kikisdeliveryservice thanks! I'll take a look this morning.

[2018-10-16 13:16] ashcrow commented on #132
/assign kikisdeliveryservice

[2018-10-16 13:28] ashcrow commented on #132
Confirmed. I recommend focusing on the test and functionality for the SSHKeys in the PR you're working on. After that merges one of us can follow up by breaking the rest of the tests out :smile:.

[2018-10-16 14:18] #127 closed

[2018-10-16 16:38] kikisdeliveryservice commented on #132
Will do. Thanks @ashcrow !

[2018-10-17 21:12] yuqi-zhang opened #137 "MCD: Failure after reboot when applying new machine config"
Even with https://github.com/openshift/machine-config-operator/commit/9a53b9bcaafc707327df84fbf779796deb7fd038, I'm still seeing errors upon applying a new machine config requiring a restart:

[code]

yaml used: the example one in: https://docs.google.com/document/d/1V8JQLCj_IegPouNCYYTCUAccTJBiC1xdtE4yhb-Fgys/edit#heading=h.k3hh962j6y1r

RHCOS image:

[code]

Installer: latest

Further with:
http

[2018-10-17 21:14] jlebon commented on #137
Right, currently trying to reproduce this.
/assign jlebon

[2018-10-17 21:37] jlebon commented on #137
Hmm, I can't reproduce this following those steps. Though this is with:

[code]

Can you check if you can reproduce it using a fresher RHCOS?

[2018-10-18 16:48] yuqi-zhang commented on #137
I played around with it, it seems that the only time this happens is when you deploy your own MCD (via editing the configmap), even if the MCD is built from the latest master from this repo. I guess this only affects development and not actual MCD operation.

[2018-10-18 17:19] jlebon commented on #137
Ahh gotcha. Yeah, I was testing with vanilla upstream. Will try to reproduce through the configmap way.

[2018-10-19 13:51] ashcrow opened #141 "How to add tests to MC CI"
Right now 3 unittests are being executed via CI:

[code]

The MCD code base is slowly adding more and more tests for the MCD but they don't seem to be picked up in CI. How do we tell the CI to execute our additional tests?

/cc @abhinavdahiya @sdemos @kikisdeliveryservice @jlebon

[2018-10-19 13:51] ashcrow commented on #141
/kind question
/kind documentation

[2018-10-29 16:16] yuqi-zhang commented on #68
This should be closed by https://github.com/openshift/machine-config-operator/pull/130, please re-open if this still happens.

[2018-10-29 16:16] yuqi-zhang commented on #68
/close

[2018-10-29 16:16] #68 closed

[2018-10-30 21:20] sdemos commented on #74
I implemented the approach I had in here a while ago but it would need a complete rewrite to fit with the new structure with informers (it didn't even rebase cleanly onto my comparatively mild changes to process before that pr). I don't think I'm in a good position to continue to take this on, so if someone else wants to pick it up, that would be awesome.

I've thought a little more about this in

[2018-10-31 12:51] ashcrow commented on #74
/unassign @sdemos

[2018-10-31 13:34] #98 closed

[2018-10-31 16:08] sjenning opened #150 "MCD CrashLoopBackOff skopeo inspect docker://://dummy ... invalid reference format"
MCD on worker is in CrashLoopBackOff
[code]

[2018-10-31 16:18] jlebon commented on #150
Ahh right, we need to update the MCD to adapt to RHCOS now pre-pivoting, but not the installer. Will handle this.

/assign jlebon

[2018-11-01 17:47] #150 closed

[2018-11-01 20:19] abhinavdahiya opened #152 "Rename `setup-etcd-environment` binary"
The `setup-etcd-environment` binary doesn't have any scope and can be misleasding in terms of what functions it performs.

We should change it.
/cc @smarterclayton
/assign

[2018-11-09 14:35] vrutkovs opened #161 "BYOH: MCD crashes "An unsupported OS is being used: centos""
MCD fails on a CentOS cluster deployed on GCP
[code]

I'm not sure if it should necessary fail if it has encountered an unsupported OS. In any case, RHEL and CentOS should be whitelisted so that BYOH team could proceed

[2018-11-09 15:34] ashcrow commented on #161
OK, we can add CentOS to the white list. PR will be up for you to review shortly.

[2018-11-09 16:06] #161 closed

[2018-11-09 16:09] lucab commented on #161
@ashcrow PR looks good to me. I did a quick skim through the code and it seems that except for the boolean gate about we are not actually consuming the string-value of OS detection, just passing it through several constructors.

[2018-11-09 18:50] ashcrow commented on #161
That's correct. It's there to ensure we jump out on anything that isn't BYO*.

[2018-11-09 18:50] ashcrow commented on #161
Though I believe we'll start to use it as time goes on.

[2018-11-12 13:30] squeed opened #166 "machine-config-server should not listen in the local port range"
The machine-config-operator seems to listen on port 49500 (with `hostNetwork: true`). This is in the default `ip_local_port_range`, which means it can collide with active tcp sessions:

[code]

It should serve on a port lower than 32768.

For example, I managed to collide with a persistent connection from the apiserver to etcd:

[code]

[2018-11-12 19:40] abhinavdahiya commented on #166
/cc @crawford

[2018-11-12 20:00] crawford commented on #166
@squeed Do you have a specific range that we should use? Does OpenShift define a particular range that we can use for internal services? If not, should we define one?

[2018-11-13 13:58] rphillips opened #167 "Resize machines bug"
I initially instantiated a libvirt cluster with the default 2048 of RAM and 1 vcpu. I then edited the machineset via:
[code]
and changed the vcpu to 4, the memory to 4096, and the replica count to 3. I expected to see all the workers get replaced with the higher requirements, but the original worker stayed at the default 2048 MB of RAM. The two new workers did get created correctly with the memory

[2018-11-14 13:05] michaelgugino opened #170 "MCD: Run-once first install start systemd units"
For mcd run-once, need to start systemd units on RHEL.

Our POC implementation in ansible was to start any service labeled as 'enabled'.

Best to 'restart' as opposed to just 'start' as users may need the installer to be somewhat idempotent when installing clusters on BYO (eg, network blip, misconfiguration).

[2018-11-14 14:50] ashcrow commented on #170
@michaelgugino Are you looking for any systemd service on the system that's enabled to be issued a `restart` or are these systemd services which are being dropped on to the system at install time as enabled and need to be started?

[2018-11-14 15:58] sdodson commented on #170
Bare metal boot times aside, I think for now we should work under the assumption that it should work just as it does in managed environments. Drop files, reboot.

[2018-11-14 16:35] michaelgugino commented on #170
@ashcrow just the systemd services that are being provisioned by mcd.  Restarting everything on the host shouldn't be necessary, IMO.

@sdodson we'll need to discuss best solution in upcoming arch call I suppose.  Currently, mcd in once-from mode doesn't do any reconciling as we expect it's an all new host.  Logic may get tricky in the future.

[2018-11-15 00:29] wking opened #176 "/usr/bin/machine-config-daemon: no such file or directory"
Logs from a recent master:

[code]

Commit for that image:

[code]

Maybe this was what #174 was fixing, @abhinavdahiya?

[2018-11-15 00:53] abhinavdahiya commented on #176
Yes, shuld be fixed by #174

[2018-11-15 01:18] abhinavdahiya commented on #176
/close

[2018-11-15 01:18] #176 closed

[2018-11-15 04:00] smarterclayton commented on #176
https://github.com/openshift/origin/pull/21496 will catch crash looping pods on a cluster.

[2018-11-19 21:21] cgwalters opened #183 "Design for osImageURL updates - integration with CVO/release payload"
I wanted to elaborate here on the current status of this.  We have a PR in https://github.com/openshift/machine-config-operator/pull/363 which will finally close the loop and inject `machine-os-content` from the release payload all the way into the MachineConfig objects, which will result in the MCD updating.

The final architecture will be:

New kernel errata, turns into RPM, converted into ostre

[2018-11-19 21:54] jlebon commented on #183
For completeness, one alternative is to make it a `MachineConfig` object instead, which is then used as the base config containing the `osImageURL` in which all other (Ignition) configs are merged into. I think this maps slightly more closely to what's currently done today.

That said, using a separate `ConfigMap` allows us to have richer metadata. E.g. pkg lists & diffs, OSTree commits & versions

[2018-11-19 21:55] ashcrow commented on #183
Remember, this data will need to flow one way or another down into a `MachineConfig`. If it's easier we could add some more information to MCs themselves.

[2018-11-19 22:09] jlebon commented on #183
Strawman:

[code]

Basically, we can include a subset of what coreos-assembler already outputs. Or maybe just a link to *that* `meta.json` instead?

[2018-11-19 22:10] jlebon commented on #183
I think it shouldn't be too hard to adapt the MCC either way so we shouldn't constrain ourselves too much on what's easier.

[2018-11-19 22:12] ashcrow commented on #183
Fair. Rephrased: what's doable and consumable within specific constraints :smiley:

[2018-11-19 22:40] cgwalters commented on #183
Do we need anything other than the `"registry.svc.ci.openshift.org/rhcos/os-maipo@sha256:4efb36f476405f8e30256733ac900e11b70833dc6a6b54179db60a501fa47124",` string?

[2018-11-20 01:56] pliurh opened #185 "Parameter 'nodeInformer' in daemon.new() is defined but not used"
In pkg/daemon/daemon.go, the parameter 'nodeInformer' of function New() is defined but not used. It should be removed.

[code]

[2018-11-20 13:57] jlebon commented on #183
Yeah, I think to do this correctly, the pkg diff would have to be done from the pkg lists instead rather than precomputed. Anyway, those are things that could easily come later. We just have to make sure we leave the door open for it.

Yeah, that sounds fine to me.

[2018-11-20 23:36] smarterclayton commented on #183
Be aware you’re going to eventually need to have a distinction between “the config says this is the latest” and “I’m ready to roll that out to the nodes”.  Design with that in mind because new kubeelts are going to happen ~ 1/week

[2018-11-20 23:37] smarterclayton commented on #183
Pkgdiff is useless.  There is no guarantee it has any relevance.  Think package manifest instead of diffs.  Our errata and higher level tools will calculate the diff

[2018-11-21 14:31] jlebon commented on #183
Can you elaborate on that? Do you mean making sure we actually upgrade to the selected release instead of whatever happens to now be the latest at the time we're actually ready to upgrade? I think that should be covered yeah. The metadata includes the full sha256 of the oscontainer.

Yup, see https://github.com/coreos/coreos-assembler/pull/226.

[2018-11-26 14:30] ashcrow commented on #185
Thanks for the report. It looks like we've already updated `New` to no longer require `nodeInformer`:

[code]

[2018-11-26 14:31] ashcrow commented on #185
/close

[2018-11-26 14:31] #185 closed

[2018-11-26 17:22] ashcrow commented on #1
@jlebon is this still needed as written?

[2018-11-28 15:00] ashcrow commented on #141
It seems like our tests are being picked up now.

/close

[2018-11-28 15:00] #141 closed

[2018-11-29 20:24] aveshagarwal opened #197 "Assign a priority class to pods"
Priority classes docs:
https://docs.openshift.com/container-platform/3.11/admin_guide/scheduling/priority_preemption.html#admin-guide-priority-preemption-priority-class

Example: https://github.com/openshift/cluster-monitoring-operator/search?q=priority&unscoped_q=priority

Notes: The pre-configured system priority classes (system-node-critical and system-cluster-critical) can only be assigned to

[2018-11-29 22:12] jlebon opened #199 "MCD rebooting early after set up"
From @crawford:

[code]

[code]

[2018-11-29 22:13] abhinavdahiya commented on #199
https://github.com/openshift/machine-config-operator/blob/f915a1bfb2d98a2cdde2ea264008f7dfb58bf262/pkg/daemon/daemon.go#L421-L439

[2018-11-29 22:14] jlebon opened #200 "MCD should write logs to the journal"
Container logs are temporary, journal logs are forever (well, longer at least...).

This should help with debugging issues with the node rebooting and somehow not having access to the previous container logs.

[2018-11-29 22:50] cgwalters commented on #199
Offhand it looks like we want to refactor `triggerUpdateWithMachineConfig` to gather all the state it can before executing the final `return dn.update(currentConfig, desiredConfig)` - and any errors before that should be non-fatal and not cause a reboot.

[2018-11-29 22:57] cgwalters commented on #199
Example failure log:

[code]

[2018-11-29 22:58] kikisdeliveryservice commented on #199
@cgwalters is that the full log? or is there more before rebooting??

[2018-11-29 23:04] cgwalters commented on #199
Sorry I just noticed I'd duplicated the initial comment here.  @crawford can you attach any more info you have?  Or even better if this is reproducible let's ensure the person who's going to hack on it has access to an affected cluster.

[2018-11-29 23:07] crawford commented on #199
@kikisdeliveryservice Full logs:

[code]

[2018-11-29 23:30] crawford commented on #199
@kikisdeliveryservice I can reproduce this locally with libvirt. From my new cluster I see the following:

[code]

It took quite a while for the MCC to create the MachineConfigs:

[code]

A few minutes later:

[code]

I'm sure `7f7366afead827ab5aa47ce67d5903c9` will show up if I wait a bit longer.

The MCC logs show the following:

[code]

[2018-11-30 00:07] kikisdeliveryservice commented on #199
I've reproduced this locally on libvirt except my MCC logs dont show  `Empty CurrentMachineConfig`. One of the daemons does seem to have rebooted and now is degraded and the backlogs show the same error coming from reflector.go as in the above logs.

[2018-11-30 00:17] cgwalters commented on #199
I am not an expert in this, but one approach would be for the MCD to exit if it can't query the current state - then we'll be respawned as usual when things have hopefully stabilized, and it'll be visible to the cluster as a usual `CrashLoopBackOff`.

[2018-11-30 00:22] abhinavdahiya commented on #199
So MCC has max retries of 15 [here](https://github.com/openshift/machine-config-operator/blob/master/pkg/controller/render/render_controller.go#L36) on error for an event and i suspect we  are hitting the max retries but we only print that on loglevel `2` [here](https://github.com/openshift/machine-config-operator/blob/f915a1bfb2d98a2cdde2ea264008f7dfb58bf262/pkg/controller/render/render_controlle

[2018-11-30 01:07] smarterclayton commented on #183
Expectation is that you will build an image and push it to the openshift origin integration image stream, then reference the component “os” from this operator and have the dummy value substituted.

In OCP, we do something similar where the OS content gets built via whatever process and shows up in the prerelease list, and is processed the same way.

You can build anywhere - we just need you to pus

[2018-11-30 01:09] smarterclayton commented on #183
Note the dummy value can be real - but since we need to mirror the content you have to be referenced in the operator list which means you need to be sucked into the right place.

Push vs scheduled import is also possible, but if we do scheduled import the source location has to be appropriately gated like a push would (only changes if you test against latest in an install)

[2018-11-30 01:19] wking commented on #183
That breaks the sceduled-import model, doesn't it?  How do you know the "latest" test used for the gate hadn't been surpassed by further release-payload work?  Or will errors there be caught by post-testing?

[2018-11-30 13:44] jlebon commented on #199
OK, so there's two separate issues here it seems:

1. MCC takes a while to create the machineconfigs
2. MCD marking degraded when machineconfig not found -- seems like we want to hang around a bit here and keep retrying a certain number of times/minutes?
3. Making `triggerUpdateWithMachineConfig` error handling smarter so that we don't mark degraded on transient errors.

I can take a look at 2 and

[2018-11-30 14:00] jlebon commented on #199
(Just gonna answer here a question from the chat.) Re. "MCD should never set the node to degraded/go to sleep". The key here is distinguishing between fatal and non-fatal errors. On fatal errors, there's not much we can do. E.g. what should it do if the node state isn't reconciled after an update is applied and rebooted? Or if `rpm-ostree status` fails to start? Or `pivot` fails to update the node

[2018-11-30 14:17] jlebon opened #203 "MCC taking a while to create MachineConfigs"
Split out from https://github.com/openshift/machine-config-operator/issues/199#issuecomment-443033182:

It took quite a while for the MCC to create the MachineConfigs:

[code]

A few minutes later:

[code]

I'm sure `7f7366afead827ab5aa47ce67d5903c9` will show up if I wait a bit longer.

The MCC logs show the following:

[code]

[2018-11-30 14:17] jlebon commented on #199
Split that into #203.

[2018-11-30 14:51] ashcrow commented on #200
@imcleod did we get cards for this already?

[2018-11-30 15:03] jlebon commented on #199
Hmm, I still can't reproduce this yet. I'm running with RHCOS 47.153 and openshift/installer@25757c69c5a9bb082eb915a6562b2b5abcee956f.

Though I did hit this on the MCD of the worker node once it comes up:

[code]

That eventually fixes itself after the pod restarts a few times.

[2018-11-30 17:11] kikisdeliveryservice commented on #199
@jlebon
I saw only the rebooted daemons on libvirt using:
`$ bin/openshift-install version
bin/openshift-install v0.4.0-34-gb8c292e6b94682223ec90c0f6814dded913d2c00
`

no special setup, just out of the box installer.

[2018-11-30 17:59] ashcrow commented on #203
/cc @abhinavdahiya @crawford

Is it expected to take a few minutes to render machineconfigs? If so, do we need to take that into consideration and increase the wait time for retrieving them in the MCD?

[2018-11-30 19:08] ashcrow commented on #199
I'm not a big fan of this, but if we know that the MCC is going to take a while upon install I don't think we have much of an option. :slightly_frowning_face:

[2018-11-30 19:11] jlebon commented on #199
(Also replying to https://github.com/openshift/machine-config-operator/pull/206#issuecomment-443285913 here).

I guess we can see how #203 turns out. Might not need it. Specifically, it's not clear to me how a worker node can successfully come up (meaning that Ignition was able to pull its config from the server, which itself assembles the config from MachineConfigs) and yet once the daemon comes

[2018-11-30 19:22] ashcrow commented on #199
Note: The last MCD update was ~11 days ago in https://github.com/openshift/machine-config-operator/commit/2e99b20a8b7612c9170dab34cac8b2f0ae18e605. Talking with some folks this started to show up roughly this Wed.

[2018-11-30 19:38] ashcrow commented on #199
The more I look at this the more I'm convinced this is a race condition. Should we wait to start up the MCD ds's until the MCC is reporting back ready to serve content?

[2018-11-30 20:22] yuqi-zhang commented on #199
So I don't see the above issues on my newest cluster (but like @ashcrow its probably a race condition that somehow didn't show up until recently). I currently see:

[code]

and in the journal on the master it repeats:
[code]

But that may be a red herring as mentioned. It doesn't seem to affect cluster operation from what I can tell.

[2018-11-30 20:46] ashcrow commented on #203
This *is an issue*, though I don't think this is the issue that's causing the bulk of problems in #199.

[2018-11-30 21:10] ashcrow commented on #199
To round this out, we've crossed two issues in this one. There are two items:

1. The original issue which we've not been able to reproduce. It looks like a race condition related to MCC producing MC's between 0-20m.
2. If the master isn't available to set up an informer the MCD believes that there is a problem and goes into degraded mode. Instead, we should attempt for up to 10 minutes or so befo

[2018-11-30 21:18] ashcrow opened #207 "Add 10m Timeout for Node Informer"
Per 2 in https://github.com/openshift/machine-config-operator/issues/199, lt's add a 10 minute timeout attempting to connect to the master for our informer. If we can't connect after 10 minutes we should assume something is wrong and go into degraded mode.

[2018-11-30 21:18] ashcrow commented on #207
/ass @yuqi-zhang

[2018-11-30 21:18] ashcrow commented on #207
/kind enhancement

[2018-12-03 22:04] kikisdeliveryservice commented on #199
I'm running into this same issue blocking me again today, one of my nodes is degraded and asleep.

[2018-12-03 22:45] cgwalters commented on #199
This is confusing me ATM:

[code]

Why would we be degraded when our current == desired?

But clearly need more logs out of this situation.

[2018-12-03 22:55] wking commented on #85
Closing in favor of #183.

/close

[2018-12-03 22:55] #85 closed

[2018-12-03 23:07] kikisdeliveryservice commented on #199
I believe that there is some sort of timeout before it reboots and is marked as degraded. At least in previous runs today, I saw timeouts, with everything taking longer than it should.

[2018-12-03 23:35] kikisdeliveryservice commented on #199
@cgwalters
Rerunning and following the logs of the master daemon shows me that it was trying to get the MachineConfig for 5 minutes as per @jlebon 's PR #206  before getting a time out, rebooting and being marked Degraded:
[code]

[2018-12-04 15:37] jlebon commented on #199
@kikisdeliveryservice, to confirm, it seems like you're hitting #203, right?

So the main issue reported here was that the daemon was triggering a reboot when setting the degraded annotation. This should be fixed now with #206. *But* we still do mark as Degraded when an unrecoverable error occurs; we just no longer reboot for it. :)

If no one is experiencing unexplained reboots anymore, let's clo

[2018-12-04 15:48] ashcrow commented on #199
Agreed, the above looks like #203.

[2018-12-04 15:50] ashcrow commented on #200
To follow up @imcleod created a placeholder card for this work.

[2018-12-04 15:50] ashcrow commented on #200
/kind enhancement

[2018-12-04 16:36] yuqi-zhang commented on #207
With the fixes applied to https://github.com/openshift/machine-config-operator/pull/206, there is a 5min retry on a non-ready MC, and thus will no longer degrade before then. The error messages in the original issue is the informer starting correctly, and then realizing it cannot watch the (not ready) resource, and then trying repeatedly. I think currently the errors are handled here: https://gith

[2018-12-04 16:44] ashcrow commented on #207
I think we can actually close this since the issue is purely on the install path only, and a wait time has already merged. If we end up seeing issues with the  `Informer` degrading on errors which should be recoverable we should open up a new issue.

[2018-12-04 17:53] ashcrow commented on #203
MCD developers are still hitting timeout issues after upping the wait time to 5 minutes + retries. As part of @kikisdeliveryservice trying to get her SSH key work merged is going to try upping the timeout and retry to a bit above 20 minutes to see if that unblocks installation when MCC doesn't have content available.

[2018-12-04 18:08] jlebon commented on #207
Just to clarify, the node informer is about watching for node updates. The timeout added in #206 is about watching for MachineConfig objects. So they're mostly independent of each other. E.g. it's possible that the MachineConfig objects are present and thus we don't degrade, but yet the node informer still keeps failing past the timeout, and we end up in a situation where we're unable to detect an

[2018-12-04 18:09] jlebon commented on #199
OK, let's close this then!

[2018-12-04 18:09] #199 closed

[2018-12-04 18:39] ashcrow commented on #207
Ah you're correct. It looks like the raw client gets used at that point. AFAICT no one is actually hitting this now that a bunch of flakes have been hit in the CI system.

/close

[2018-12-04 18:39] #207 closed

[2018-12-04 20:04] abhinavdahiya opened #211 "Docs: Add docs around the path from templates to machineconfigs"
https://github.com/openshift/machine-config-operator/blob/master/docs/MachineConfigController.md#templatecontroller should include a section on how the templates controller reads the `teamplates` directory to create `MachineConfigs` for various roles and platform.

stemmed from discussion [here](https://github.com/openshift/machine-config-operator/pull/208#issuecomment-444233632)

[2018-12-05 15:37] ashcrow commented on #203
Thanks for the info @cgwalters!

[2018-12-06 18:47] cgwalters commented on #183
My notes from playing around with MCD state so far;

I am still a bit confused as to the current flow of the `osImageURL`; should `oc edit machineconfig/00-worker` work to render or a new one?  Currently I edit the generated one.

Next, currently our oscontainers are uploaded to api.ci under the `rhcos/` namespace and they require a separate pull secret, and we don't have a defined way to upload t

[2018-12-06 19:23] kikisdeliveryservice commented on #183
@cgwalters machineconfigs are generated in the MCC, I believe that `edit` is editing the current config not generating a new one.

[2018-12-06 19:30] cgwalters commented on #183
Looked at that PR more carefully and it's only about the bootstrap.  The pull secret goes into the main `oc get configmap -n kube-system cluster-config-v1` (thanks Kirsten for mentioning that one earlier!).

What I don't understand yet is where that pull secret ends up on the nodes.

[2018-12-06 19:36] kikisdeliveryservice commented on #183
@cgwalters Pull secret gets written into the machineconfigs here:
https://github.com/openshift/machine-config-operator/blob/4b28c96a225bbd9711c98c73a6d83f1c4ed9653a/lib/resourcemerge/machineconfig.go

[2018-12-06 19:44] jlebon commented on #183
Hmm, I think you're right that that should trigger a regeneration of a new machineconfig. I'm trying that here, but my MCC now is hitting:

[code]

which is a flavour of some of the errors people were hitting in #199. Will try to dig deeper there.

I will admit the hacky way I've been testing upgrades so far includes prepending the `machine-config-daemon` invocation in the daemonset config with `o

[2018-12-06 19:46] cgwalters commented on #183
Yep, I missed it somehow, I see it now, it goes to `/var/lib/kubelet/config.json`.  Adding the secret there works.

[2018-12-06 19:48] kikisdeliveryservice commented on #183
@jlebon those timeouts are related to the openshift apiserver: https://github.com/openshift/origin/issues/21612

[2018-12-06 20:04] aaronlevy commented on #183
My understanding is that the *source* should be edited (which should result in a new generated config). We should not be in the habit of editing the generated config (and if that happened, the MCC should actually roll-out a non-edited config to all nodes -- as that is built from the canonical source(s)).

It might help to add docs along the lines of, "As a user, how do I modify host configuration?

[2018-12-06 20:04] jlebon commented on #183
OK yeah, this does work for me. After sorting out the MCC issue (@kikisdeliveryservice thanks! I tried out the workaround there and it seems like it worked), and doing `oc edit machineconfig 00-worker`, the daemon shows:

[code]

[2018-12-06 20:17] jlebon commented on #183
Yeah, this is mostly for testing stuff out.

The issue is that when the MCC merges configs, it doesn't replace the base `osImageURL`: https://github.com/openshift/machine-config-operator/blob/20c1299a831fdc65335b101530ea7b6d60a0ba71/pkg/apis/machineconfiguration.openshift.io/v1/helpers.go#L14. (And IIUC, the first config is that `00` generated from the baked in template currently, though the osIma

[2018-12-06 20:30] jlebon commented on #183
To add some context to the previous comment: this is strictly for testing changes to `osImageURL`. Other filesystem updates that are part of the Ignition spec are merged in, so can be done indeed by creating a new source machine config that gets squashed into a new generated machine config.

[2018-12-07 19:46] cgwalters commented on #200
This is done now.

[2018-12-07 19:46] cgwalters commented on #200
(Can someone close the issue?  I don't have perms apparently)

[2018-12-07 19:47] cgwalters commented on #167
This is a bug for https://github.com/openshift/cluster-api right?

[2018-12-07 19:52] ashcrow commented on #167
@cgwalters I believe you're correct. (EX: https://github.com/openshift/cluster-api/tree/fd68ff1f9a70c09db561216f5e2abfe8cb28487a/pkg/apis/cluster/v1alpha1).

@rphillips do you mind moving the issue over to the `cluster-api` repo?

[2018-12-07 19:53] ashcrow commented on #200
/close

[2018-12-07 19:53] #200 closed

[2018-12-07 20:43] cgwalters commented on #166
To clarify, this port is required to serve Ignition configs, and Ignition runs in the initramfs before a node has joined the cluster and can use cluster networking, etc.

That said, is there any reason we couldn't just pick a free port dynamically on startup?

[2018-12-07 22:40] rphillips commented on #167
Moved. Thanks!

[2018-12-07 22:40] #167 closed

[2018-12-08 07:39] wking opened #224 "Rebooting after: "Updating machineconfig from {hash} to {same-hash}""
Poking around on master-0 during [this run][1]:

[code]

It's possible that the underlying issue is due to whatever took down the initial etcd-member pod (751acc223850b, I'm still looking into this), but I don't understand why the MCD keeps going after:

[code]

Is the issue the `selfLink was empty, can't make reference`?  It seems surprising to trigger a reboot because you failed to submit an eve

[2018-12-08 08:42] abhinavdahiya commented on #224
@wking

[code]

So looks like somebody is editing the file `/etc/hosts` and MCD owns that file and reconciles it back. And the daemon currently always reboots after syncing.

I would guess `service-signer`

[2018-12-08 08:56] wking commented on #224
Ah, that's probably what's going on.  That image-registry line is not [here][1].  Looks like [the DNS operator][2].  I'll file an issue over there.

[1]: https://github.com/openshift/machine-config-operator/blob/9d379bd83e3452b109c2b418f00001bf22819464/templates/master/00-master/_base/files/etc-hosts.yaml
[2]: https://github.com/openshift/cluster-dns-operator/blob/119e58d03d441282a764ba51619536f5a

[2018-12-08 09:00] abhinavdahiya commented on #224
/cc @crawford @aaronlevy as more people changing configuration on disk and will end up stepping on each other and if you step on MCD it will keep rebooting nodes.... :(

[2018-12-08 09:07] wking commented on #224
Closing this in favor of openshift/cluster-dns-operator#63

[2018-12-08 09:07] #224 closed

[2018-12-08 09:13] wking commented on #224
Do not taunt happy fun MCD :p.

[2018-12-08 22:52] crawford commented on #166
All of the machines in the cluster would have to know what port number they should connect to. If it were dynamically when the MCS started, how would new machines know where to connect?

[2018-12-11 15:09] squeed commented on #166
You just need to change the port. It cannot be in the local port range. Just pick a new number < 32768

[2018-12-11 20:12] cgwalters opened #230 "create a script to both build + upload to cluster"
Moving this discussion from https://github.com/openshift/machine-config-operator/pull/189

As a developer I want to be able to conveniently hack on the stack.

[2018-12-11 21:21] ashcrow commented on #230
/kind Jira
/kind enhancement

[2018-12-11 21:22] ashcrow commented on #230
/kind enhancement

[2018-12-12 15:37] cgwalters commented on #230
Some WIP on this:

`cluster-push-prep.sh`
[code]

`cluster-push.sh`
[code]

[2018-12-12 16:00] cgwalters commented on #230
This is getting closer; what I'm stumbling over now is that the nodes can't pull the image, I tried this:

[code]

But no luck - why is the group not found?

[2018-12-12 19:07] ashcrow commented on #230
That's odd. `system:authenticated` has been around for quite a while at this point. Maybe it's something specific with the instance? :confused:

[2018-12-12 19:13] cgwalters commented on #230
Figured it out...I needed to explicitly reference the in-cluster registry, I think it was trying to implicitly pull from `docker.io`.  This code is really confusing because the image is named 3 different things (one name in local podman, one external name, one internal name).

PR in https://github.com/openshift/machine-config-operator/pull/231

[2018-12-14 07:42] wking opened #233 "Multiple machine-config server restarts after 'http: TLS handshake error from 10.0.29.128:17205: EOF'"
In [a recent CI run][1], I saw:

[code]

From the logs for one of those server pods:

[code]

This is possibly related to #199, which also had TLS handshake errors (although in that case they were bad-certificate errors).  Are these errors someone attempting to connect to the MCS but immediately hanging up?  Who would do that?  Is there information about the restart reason somewhere I can dig up?

[2018-12-14 18:23] cgwalters commented on #74
Related: https://github.com/openshift/machine-config-operator/pull/206

[2018-12-14 18:28] cgwalters opened #234 "Add a Degraded annotation"
Right now one of my nodes went degraded, apparently the MCD restarted so I don't have those logs, and more worrying I can't find anything in the journal.

I'm thinking we want a new node annotation:
[code]

[2018-12-14 18:48] #230 closed

[2018-12-14 18:48] jlebon commented on #234
Did you check `oc logs -p` too?

[2018-12-15 01:34] abhinavdahiya commented on #233
also saw here https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_installer/711/pull-ci-openshift-installer-master-e2e-aws/2331

[2018-12-15 02:59] kikisdeliveryservice commented on #234
I usually see the reason in the `oc logs -p` as well.

[2018-12-15 03:00] kikisdeliveryservice commented on #233
I recently experienced some TLS errors today, when I re-run I will try to log what happened better.

[2018-12-19 15:37] cgwalters commented on #234
Labels are query-able; and we definitely want to make it easy for admins to find degraded nodes.  https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/

[2018-12-19 22:13] jlebon opened #252 "Add retries when trying to fetch or set node annotations"
Because we don't want transient network blips to take down a whole node.

[2018-12-20 15:24] cgwalters opened #254 "Add an "Unreconcilable" label distinct from degraded"
Building on https://github.com/openshift/machine-config-operator/issues/234
First, we should never "reboot loop".

The two other outcomes today are (config updated successfully | degraded)

Now, what I want to argue is that we shouldn't go degraded if we can't reconcile a new config.  Going degraded is going to be expensive in some cases (particularly for masters).  An admin will want to *know* th

[2018-12-20 16:16] cgwalters commented on #166
Was glancing at this just for my own edification, it seems like when we change this we need to make a co-ordinated change to the installer:

https://github.com/openshift/installer/blob/ac006ae671a645553d58c8a29c676968dfa3d85f/pkg/asset/ignition/machine/node.go#L24

[2018-12-20 18:20] cgwalters opened #255 "MCC racing with itself?"
I just did `oc edit machineconfigs/00-worker` and changed `OSImageURL`; no MC was generated, and in the MCC logs I see:

[code]

[2018-12-20 19:06] kikisdeliveryservice commented on #255
@cgwalters FWIW, I think you need to create a  new machine config to update the OS as opposed to editing the existing 00-worker. Also there was a naming convention of `00-osimageurl-worker` so that that image was applied before the osimageurl, but not sure if still required.

[2018-12-20 19:07] kikisdeliveryservice commented on #255
I think this is desired behavior to deter editing nodes directly as opposed to via machineconfigs?

[2018-12-20 19:22] cgwalters commented on #255
Hm, but it should be supported to edit the MCs right?  This relates to https://github.com/openshift/machine-config-operator/issues/183 in that (this came up in a quick meeting between dusty/jlebon/me this morning) the idea is that our initial MC objects delivered by the CVO would have `osImageURL` set, and when doing `oc adm upgrade` those MCs would be replaced by ones from the new update payload.

[2018-12-20 19:35] kikisdeliveryservice commented on #255
@cgwalters after reading that thread, I'm more confused than when I started. Seem to be different vectors of how the user might do something, the `oc adm..` and our personal testing. Def would be great to have a consensus and memorialise?  I was terribly confused when I tried to update the osImageURL last week and hit a bunch of bumps. :)

[2018-12-20 19:41] cgwalters opened #257 "add more to test suite"
It should be pretty easy to put together a quick test suite in e.g. bash that given a running cluster, tests at least a nondestructive scenario of creating a MC, waiting for it to roll out, running a quick daemonset that verifies the files exist, then e.g. deletes it and verifies the nodes are back as they were.

We may be able to enhance non-destructive testing by creating a separate machineset t

[2018-12-20 19:52] kikisdeliveryservice commented on #257
I'm supposed to work on some e2e testing after my other PRs are done, so count me in! :D

[2018-12-20 19:53] kikisdeliveryservice commented on #254
Adding a reminder to myself to add some thoughts to this since I use reconcilable a lot and have degraded so many nodes accidentally.

[2018-12-20 20:17] abhinavdahiya commented on #257
@smarterclayton whats the best location to add operator level tests ? That require a cluster.

[2018-12-20 21:12] jlebon commented on #254
Hmm, though if the MAO is going to reprovision degraded and unconcilable systems, then won't the admin be racing against the MAO either way?

It's also not clear to me how well we want to support admins creating their own MCs and risk the chance of blowing up their cluster vs a more validated path through the console or something.

[2018-12-21 00:37] cgwalters opened #259 "tweak hack/cluster-push.sh to use CVO overrides"
Was looking at the CVO docs and came across https://github.com/openshift/cluster-version-operator/blob/master/docs/dev/clusterversion.md

It looks like we should change our dev script to set up overrides rather than disabling the CVO.  This is particularly important for the MCO as we really want to test the flow of having OS updates flow via the CVO, but also test changes to e.g. the MCD.

[2018-12-21 01:48] smarterclayton commented on #257
See the e2e-aws-operator jobs in openshift/release.  Basically have a binary / script in your repo, copy their pattern, then you get passed a kubeconfig and can run.

[2018-12-21 15:09] cgwalters commented on #234
Updating this since labels aren't meant for free-form text; I think we should cover the extended rationale with both an event a systemd journal entry like we do for reboots etc.

[2018-12-21 17:52] kikisdeliveryservice commented on #254
@jlebon makes a good point generally: how much of our varying workflows is consistent with the workflow of real admins/users? I think in the New Year it's worth hashing this out more because sometimes it's not clear how much of an issue things are in, say AWS vs libvirt, pinned vs master, or come up due to our unsupported-and-undesirable-for-users tinkering.  Thought of this bc @smarterclayton mad

[2018-12-21 18:51] yuqi-zhang commented on #254
So is the proposed workflow then if we're in a unreconcilable state, sleep the node (but don't degrade) so the admin can be alerted and remove/apply a new MC? Should we maybe e.g. taint the node as well?

In terms of workflow for an admin, like @jlebon said I'm not sure how much we want an admin to create their own MC's that often, and whether the MAO would be trying to reprovision degrades. This

[2018-12-21 19:44] #252 closed

[2018-12-21 20:22] jlebon commented on #203
Closing this one. Haven't seen it or heard anyone hit it since the 4G bump. (Please comment/reopen if that's not the case!)

[2018-12-21 20:22] #203 closed

[2018-12-21 21:21] jlebon commented on #99
So, #245 changed this slightly. Now, if the node doesn't validate after rebooting into a new config, we immediately mark degraded instead of retrying. So we've gone from "retry forever" to "retry never". But it's still more correct since we do degrade the node.

Hmm, so I'm wondering if we should close this. I'm not sure if there are "transient issues" here that we should account for when updating

[2019-01-02 17:51] ashcrow commented on #99
I :+1: closing.

[2019-01-03 17:07] ashcrow commented on #255
Unless we have to bypass the MCO and MCS to provide MC's the MCO should always own generating MCs. If the MCO doesn't there is a good possibility that short lived race conditions between edited MC's and what is being generated by the MCO will occur.

[2019-01-07 14:46] ashcrow opened #268 "MCD: Not cleaning up files whe removed from MC"
See: https://bugzilla.redhat.com/show_bug.cgi?id=1663376

[2019-01-07 14:47] ashcrow commented on #268
/label bug
/label jira

[2019-01-07 16:01] jlebon commented on #99
OK, let me try this.
/close

[2019-01-07 16:01] #99 closed

[2019-01-07 19:36] cgwalters commented on #183
One thing that wasn't obvious to me until I dug into this again is that the `OSImageURL: ""` bits today in e.g. `00-worker` come from simply synthesizing the machineconfig objects from the template Ignition fragments by `generateMachineConfigs()`.

For some reason...I had it in my head that the update payload today contained the `OSImageURL` but that's not true.

Now, then where this intersects wi

[2019-01-07 19:47] cgwalters commented on #183
How about we change the semantics of MC objects so that a MC can either have Ignition or osImageURL, but not *both*?  They're really very different things and this would help discourage admins who are generating Ignition configs to somehow accidentally change `osImageURL`.

This would also force us to clearly split out our `osImageURL` that was ultimately derived from the release payload into a pl

[2019-01-07 20:32] ashcrow commented on #183
I'm not sure I fully understand what splitting would do for us. If we do split out `oSImageURL` and Ignition information we'd essentially have and`ign` "file" with ignition content, and an MC "file" with a single OSImageURL field. I'm not against the idea, I fear I'm not following though.

[2019-01-07 21:10] kikisdeliveryservice opened #269 "Machine Configs should support multiple roles"
The current labelling scheme does not support having multiple roles for one machine config.  Because label is a map, we are unable for have 2 values (roles) for the same key.  Switching to a different labelling method would allow us to create 1 machineconfig that can be applied to multiple roles.

For example, when creating ssh machine configs we have to create 1 per role instead of having a maste

[2019-01-07 21:15] abhinavdahiya commented on #269
So currently we label machineconfigs with label

`machineconfiguration.openshift.io/role=<role-name>`

and we want the ssh key to be picked by all current roles that means we need these labels

[code]

but as @kikisdeliveryservice  mentioned the label is a map, so we can't have 2 values for same key...
need need to switch to different scheme for labels...

I suggest:
`role.machineconfiguration.ope

[2019-01-07 21:18] jlebon commented on #183
:+1: Yeah, those were my thoughts.

Though the MC has this powerful property of fully describing the host. I guess we could do a variant of what you're suggesting by only having the final generated MC contain both?

[2019-01-07 21:35] cgwalters commented on #269
This is then symmetric with the way `node-role.kubernetes.io/worker` label acts too right?

[2019-01-07 21:47] abhinavdahiya commented on #269
correct

[2019-01-07 21:47] cgwalters commented on #183
Hm, which files?  Are you talking about the MC objects?

Sorry that *is* what I meant - the rendered one would have both.  I'm talking about the "input" versions.

[2019-01-08 00:46] kikisdeliveryservice commented on #268
Should be covered by[ deleteStaleData()](https://github.com/openshift/machine-config-operator/blob/7773bacc6e79829d3325f7747e076e96aebf7a4e/pkg/daemon/update.go#L273) I thought?

[2019-01-08 00:53] kikisdeliveryservice commented on #268
So this is what [deleteStaleData()] (https://github.com/openshift/machine-config-operator/blob/7773bacc6e79829d3325f7747e076e96aebf7a4e/pkg/daemon/update.go#L273 ) does after an update is run.  But I don't know that `oc delete` is calling all of our functions like the same as deleting/updating via MCD does?

[2019-01-08 15:48] ashcrow commented on #183
That clears it up for me. :+1:

[2019-01-08 19:22] cgwalters commented on #183
PR in https://github.com/openshift/machine-config-operator/pull/273

[2019-01-08 22:00] #268 closed

[2019-01-08 22:55] cgwalters opened #276 "retry osimageurl pulls"
So this is a fatal error today:

[code]

Which makes sense, but AFAICS we'll also go degraded if for some reason we transiently fail to fetch the container.  We should probably teach `pivot` how to distinguish between potentially transient and fatal errors?  (Where here "transient" would be "anything networking" to start)  Or we could just always retry a few times.

[2019-01-09 14:54] ashcrow commented on #276
`pivot` does seem like the cleanest place to do this since it's a separate binary. We'd probably want to include k8s's [`util.retry`](https://godoc.org/k8s.io/client-go/util/retry).

The other option would be to use `util.retry` within MCD and look at exit codes. `pivot` would still need a small update to provide a specific exit code for "network failure" or "registry failure" so MCD knew to keep

[2019-01-09 14:54] ashcrow commented on #276
/kind enhancement
/kind jira

[2019-01-09 15:55] ashcrow commented on #276
@jlebon my thought was more so that we should retry on specific cases rather than all failures, but I'm OK with always retrying.

[2019-01-09 20:42] jlebon commented on #255
So I was looking into this and reading the MCC codebase as a result. I think there might not actually be an issue here. The MCC essentially owns those configs that it generated and will overwrite changes made to them. I'm writing up some docs to help clarify this.

[2019-01-09 21:06] jlebon commented on #255
#281

[2019-01-09 21:18] cgwalters commented on #255
Yeah, what I was doing was not correct.

[2019-01-09 21:18] #255 closed

[2019-01-10 07:07] #276 closed

[2019-01-10 14:05] cgwalters commented on #183
If anyone wants to play around with doing a pivot in the *current* master, i.e.:

[code]

Here's an object you can `oc create`:

[code]

(The requirement to specify the ignition/version is a bug)

But this will change shortly when #273 lands.

[2019-01-10 18:25] cgwalters opened #283 "support inline data in MCs"
Ignition was designed to be a *target* for higher level config languages (e.g. `ct`).  We are currently exposing "Ignition JSON as YAML" in MCs.  I think there's no real reason for Ignition not to support true inline data (as opposed to `data:` URLs which aren't friendly to edit directly), e.g.:

[code]

rather than requiring the `data:` URL encoding.

[2019-01-10 19:59] ashcrow commented on #283
Would this be an enhancement to Ignition to allow the functionality or do you envision MCD adding a translation layer?

[2019-01-10 21:30] ashcrow commented on #283
@cgwalters it sounds like a good addition, but I'm not sure how it lands in the Ignition spec. We may want to move this over to the Ignition issue tracker or pull in some maintainers into this discussion.

[2019-01-11 00:40] kikisdeliveryservice commented on #283
@ashcrow I checked and this seems to not conform to the Ignition spec found here: https://coreos.com/ignition/docs/0.20.1/configuration-v2_1.html
files' contains:
contents (object): options related to the contents of the file.
- compression (string): the type of compression used on the contents (null or gzip). Compression cannot be used with S3.
- source (string): the URL of the file contents. Sup

[2019-01-11 00:50] kikisdeliveryservice commented on #283
Ha ignore me because actually this is already possible in Ignition!
See our _own_ documentation: https://github.com/openshift/machine-config-operator/blob/master/HACKING.md
[code]

Use source: data

[2019-01-11 01:34] kikisdeliveryservice commented on #233
`bin/openshift-install v0.9.1` running on aws

I'm seeing these same errors in the logs of my machine-config-servers basically running in a non-stop loop:
`$ oc logs -f -n openshift-machine-config-operator machine-config-server-42qmm`

then infinitely repeating:
`2019/01/11 01:29:15 http: TLS handshake error from 10.0.8.225:40761: EOF`

I haven't seen any performance problems in my mco-mcc-mcd wor

[2019-01-11 02:47] wking commented on #233
I'm going to mark these EOF errors as fixed by openshift/installer#924.  If anyone can reproduce with a cluster built from an installer with that commit included (it will be in the next release), please comment and we can re-open.

[2019-01-11 02:47] #233 closed

[2019-01-11 18:57] ajeddeloh commented on #283
Ignition supports inline data via data URLs. CT has sugar to do this for you. I don't know the history of why this is the case (perhaps @crawford knows) but I'd guess it was to avoid a major spec bump. I'd be open to removing the data URL and switching to allow inline contents in 3.0.0. For one it'd make the two config structs (ct/ignition) more isomorphic which makes translation easier.

[2019-01-11 19:13] cgwalters commented on #283
I edited the first comment to clarify that I meant not-URL-encoded (or any encoding) inline data.

Seems fine although that gets into the immediate problem that...I don't see us using 3.0 for OCP4 right?  So in order for people to use this we'd have to add it to 2.2 *or* "backport" it by doing a minimal translation layer in the MCD.

[2019-01-11 20:25] ajeddeloh commented on #283
3.0.0 probably wont be ready for OCP4.0 and would require reworking of some configs, so no.

Adding it to Ignition 2.x itself would be a spec break and semver violation.

Also, I confirmed my assumption about the origins of the dataurl were correct.

[2019-01-12 19:48] cgwalters opened #292 "daemon panic in `updateSSHKeys`"
Was testing OS updates using:

[code]

With locally-built operator/controller from https://github.com/openshift/machine-config-operator/pull/273
But daemon from the update payload, i.e.:
[code]

[code]

Then it looks like my master went degraded:

[code]

[2019-01-12 19:52] cgwalters commented on #292
`I0112 18:54:52.811724   16793 update.go:74] Checking reconcilable for config master-a35b9fbb0ce731ce96019734bdfb432c to master-7983f76d2faccc7c3d4c234bce719c5f`

OK and:

[code]

So that's why the panic, the user array went empty.

[2019-01-13 23:08] kikisdeliveryservice commented on #292
I'll pick this up tomorrow!

[2019-01-13 23:09] kikisdeliveryservice commented on #292
/assign

[2019-01-14 09:41] jatanmalde opened #294 "How to I add machineconfigpool named infra to the cluster"
Hello.

I currently only see two default `machineconfigpool` with the installation
[code]
How do I tell installer about additional `machineconfigpool` for the cluster so that I can have some infra nodes on the cluster.

Please advice on it.

[2019-01-14 13:32] cgwalters commented on #292
Closed by https://github.com/openshift/machine-config-operator/pull/293

[2019-01-14 13:32] #292 closed

[2019-01-14 13:35] wking commented on #294
The essiest way is to add additional machine(set)s and machineconfigpools as day-2 operations.  There is very little difference between you pushing those into the cluster after the installer succeeds and getting the installer to push them for you.

[2019-01-14 13:55] jatanmalde commented on #294
@wking I agree to your point, How could I add the `machineconfigpool` prior installation.

Lets say if I want to add another `machineconfigpool`. How can I achive that?

Thanks.

[2019-01-14 14:18] wking commented on #294
If you agree about it being easiest as a day-2 change, why do you care about adding these prior to installation?  Just push the objects you want into the cluster post-install.

[2019-01-14 14:30] jatanmalde commented on #294
@wking I did not find the Day2 -operation sections. If you can post the link then that would help.

I can take look at it once to see how can I add machineconfigpool?

Thanks

[2019-01-14 14:36] cgwalters opened #296 "support removing SSH keys entirely"
Ref: https://github.com/openshift/machine-config-operator/pull/115#discussion_r246809985

Currently if a user provides an SSH key to the installer, then decides to remove it, the MCD will silently keep the last specified key.

In https://github.com/openshift/machine-config-operator/issues/292 we fixed a panic when the `user` section was empty.  I think we should take the next step and remove the a

[2019-01-14 14:52] wking commented on #294
I dunno if there are docs for this yet, but if you want a new machineconfig pool, you can probably yse the existing worker pool as a template.

[2019-01-14 14:59] wking commented on #294
Looks like there may eventually be docs [here][1].

[1]: https://github.com/openshift/training/blob/master/docs/compute/09-multiple-machine-pools.md

[2019-01-14 15:20] cgwalters commented on #234
Retitling this to use an annotation instead; in https://github.com/openshift/machine-config-operator/pull/260 we decided not to add a label.

[2019-01-14 17:43] kikisdeliveryservice commented on #296
/assign

[2019-01-14 17:45] ashcrow commented on #296
/kind jira
/kind enchancement

[2019-01-14 17:45] kikisdeliveryservice commented on #296
I'll work on this, but I will note that there is a difference between an empty Passwd:User section and an empty User:SSHAuthorizedKeys section. This issue would cover the latter case as opposed to the former.

[2019-01-14 18:22] kikisdeliveryservice opened #299 "logging: dealing with selflink empty error"
During any update via MCD I see a selflink empty error along the lines of :

`E0109 03:50:01.745177   30429 event.go:259] Could not construct reference to: '&v1.Node{TypeMeta:v1.TypeMeta{Kind:"", APIVersion:""}, ObjectMeta:v1.ObjectMeta{Name:"ip-10-0-134-127.us-west-1.compute.internal", GenerateName:"", Namespace:"", SelfLink:"", UID:"", ResourceVersion:"", Generation:0, CreationTimestamp:v1.Time{

[2019-01-14 20:01] cgwalters commented on #254
One point Abhinav raised here is that currently we set `maxUnavailable: 1` - so you lose at most one machine.  But still...particularly if that affects a master...

[2019-01-14 20:04] ashcrow commented on #254
We are supposed to be able to reject MC's if they are impossible to apply. Could we reject the MC instead?

[2019-01-14 20:07] kikisdeliveryservice commented on #254
It seems more intuitive to reject the MC one it is deemed unreconcilable instead of marking the node as degraded, since we are just degrading it bc the MC is unreconcilable not because we tried to make the upgrade and it failed for some reason making the node unreconcilable.

[2019-01-14 22:53] cgwalters opened #301 "MachineConfigs can be garbage collected while a node is still booting"
Splitting this out of https://github.com/openshift/machine-config-operator/pull/273#issuecomment-454111408
https://github.com/openshift/machine-config-operator/pull/273#issuecomment-454134115

Here are relevant mcc logs from a cluster spun up by that PR:

[code]

You can see that this caused very fast churn in the machineconfigs, and the previous ones were GCd.  But - there were secondary masters

[2019-01-14 22:58] cgwalters commented on #301
This problem is actually fairly new (as of basically since Friday) because of the near-simultaneous addition of `-ssh` and `-kubelet` MCs which causes MC regeneration churn, and I'm currently going to add another.

[2019-01-14 23:07] ashcrow commented on #301
/kind bug

[2019-01-14 23:21] kikisdeliveryservice commented on #301
As a data point, the `-ssh` mc was added last Monday, so any idea why you saw the  issues begin on Friday?

[2019-01-15 14:08] cgwalters commented on #301
Sorry, I was wrong.  It's likely the `-kubelet` one on top of the `-ssh` - but both are pretty recent.

[2019-01-15 15:00] vrutkovs opened #304 "MCO should taint only CoreOS nodes on ssh"
Related to https://github.com/openshift/machine-config-operator/pull/289

The process of joining RHEL nodes to the cluster involves ssh'ing (using Ansible) to the node and applying Ignition config. The node would join the cluster but would be tainted.

While we could un-taint the node using Ansible it would still be a bad UX for the customers. Some customer services restart might be required on ne

[2019-01-15 15:08] ashcrow commented on #304
Agreed. :+1:

[2019-01-15 15:10] ashcrow commented on #304
The actual tainting process should not happen on non RHCOS systems. The portion of code which actually detects and reports the SSH is part of RHCOS itself. Did you see a taint from SSHing to RHEL or is this more of a reminder that it shouldn't be added to RHEL?

[2019-01-15 15:10] ashcrow commented on #304
/assign

[2019-01-15 15:54] jlebon commented on #301
Hmm, wonder if it'd work to add another owner reference from the MCD to the MC before handling it. Let me look into that.

[2019-01-15 19:19] kikisdeliveryservice commented on #132
Now that specific failure messages were added, I think the resulting failures are much clearer and desirable since reconcilable _will_ fail if any previous check fails:
[code]

[2019-01-15 19:19] #132 closed

[2019-01-15 21:59] cgwalters opened #314 "ootpa rebase fails due to SELinux `mac_admin`"
[code]

We have a special `install_exec_t` label for rpm-ostreed (see e.g. https://github.com/projectatomic/rpm-ostree/pull/953 https://github.com/projectatomic/rpm-ostree/pull/292#issue-71756967 )

But we're not using that because we're executing pivot from the MCD.  One option (I think) is to use `systemd-run` for pivot.  Downside is that the logs go to the journal, not the MCD, but we can scrap

[2019-01-15 22:09] cgwalters commented on #314
(This issue is an argument for rolling in at least some of the pivot functionality into rpm-ostreed itself)

[2019-01-15 22:50] kikisdeliveryservice commented on #183
@cgwalters I just tried an update on `bin/openshift-install unreleased-master-78-g63bdb7fce105c6a5f0422b055b8c1164dddc53fd` using the config above and it worked as expected.

Logs for ref: http://pastebin.test.redhat.com/696135

[2019-01-15 23:03] cgwalters commented on #257
One thing related to https://github.com/openshift/machine-config-operator/issues/294 is that I think it would be an extremely useful pattern for us to support spinning up a "testnode" machine type that is marked tainted; we could then use it as a target for e.g. upgrade and other testing.

[2019-01-15 23:32] vrutkovs commented on #304
Right, RHEL nodes are not being tainted - as sshd_config is not being modified

[2019-01-15 23:32] #304 closed

[2019-01-15 23:45] kikisdeliveryservice commented on #183
@cgwalters is there a specific order the MCs for the osUrlUpdates need to adhere to? Because applying a 2nd and 3rd config I'm running into errors. Must the newest config come first or last?

[2019-01-16 00:53] kikisdeliveryservice commented on #183
Ok tried the second config with name: `00-0valters-worker-osimageurl` :rofl: to land in the first spot and it updated as I expected.

[2019-01-16 18:57] jlebon commented on #314
error: Writing content object: fsetxattr: Invalid argument

I'm still confused why we're hitting this. `/usr/bin/ostree` is `install_exec_t` too, no?

[2019-01-16 19:04] jlebon commented on #314
Ahh I see, it's not transitioning to `install_t` because we're invoking from a container.

If that works, that'd be my preference over https://github.com/projectatomic/rpm-ostree/pull/1732 given how specific the circumstances are.

[2019-01-16 19:35] jlebon commented on #301
So, just to do a brain dump on this. I'm still trying to reproduce this locally. It doesn't trigger at least when I manually create MCs in rapid succession (this is with #303 reverted). One thing that caught my eye though is that there is no code today that actually *deletes* MachineConfigs, right?

The render controller does [try to remove the pool ownerReference from previously generated Machine

[2019-01-16 19:57] cgwalters commented on #314
In order to make it work we'd have to mount `selinuxfs`...which would then cause other tools in the container to think SELinux is enabled, which *probably* wouldn't be a problem but still...an unknown impact.

I think it's going to work best if we do SELinux related things on the host and keep our container more container-like.

And more generally...I think we want to keep the model of having "hos

[2019-01-16 20:19] jlebon commented on #314
Yeah that makes sense. This is also the root of the issue here. We're calling the host `pivot` from the container context. Hmm, how about something like this:

`rhcos-pivot.path`

[code]

`rhcos-pivot.service`
[code]

?

[2019-01-16 20:23] cgwalters commented on #314
Which we want anyways, see https://github.com/openshift/machine-config-operator/pull/273/commits/94d37831db7f6e2ea95d6d808f6406fde6aa79db

[2019-01-16 20:49] cgwalters commented on #301
*Something* in that CI run was pruning MCs though.

Doesn't Kube itself do the GC https://blog.openshift.com/garbage-collection-custom-resources-available-kubernetes-1-8/ ?

We should indeed figure this issue out better but it's not in the blocking path right now I'd say.

[2019-01-16 21:03] ashcrow commented on #301
Agreed

[2019-01-16 21:09] jlebon commented on #301
AFAICT, deleting a parent will delete children that have ownerRefs to the parent. But deleting the ownerRef directly from the child doesn't actually delete the child itself, it just orphans them. I tested this out with e.g.:

[code]

and verifying that Kube didn't delete it afterwards.

My worry is that not knowing exactly what's deleting MCs means we don't actually know how bad this is.

[2019-01-16 21:41] cgwalters commented on #257
I'm just going to repurpose this issue now for "let's add more to the test suite" since it's not covering much at all.

I think we can add a test case for e.g. "add a MC that adds a file to workers" easily now.

It'd also be good to extend that and script a reconciliation failure (`rsh` into the mcd and make a conflicting file?).

Testing SSH key updates should be pretty straightforward I think.

[2019-01-16 22:55] cgwalters commented on #254
One thing I just noticed is that `getDegradedMachines()` has
```if dconfig == currentConfig && dstate == daemon.MachineConfigDaemonStateDegraded {```

From the point of view of the MCC then a machine is only degraded if it's targeting that config.  Which strongly implies that the MCD should behave the same as much as possible - *particularly* if we fail to reconcile a config.  We can easily target

[2019-01-17 09:15] jianlinliu opened #320 "How to recover from 'Degraded' status"
Sometime I created a wrong customized machineconfig, once I applied it to my cluster, some node will to to "Degrated" status for ever, how to correct and recover it?

[2019-01-17 13:36] cgwalters commented on #320
We're discussing this in https://github.com/openshift/machine-config-operator/issues/254

/close

[2019-01-17 13:36] #320 closed

[2019-01-17 13:53] jlebon commented on #301
Yeah agreed. Will try to get more visibility on this today.

BTW, was https://github.com/openshift/machine-config-operator/pull/273#issuecomment-454111408 in a CI cluster, or local? Wondering if there's somehow a higher likelihood of hitting this in CI for whatever reason.

[2019-01-17 13:55] cgwalters commented on #254
If anyone is wondering how to deal with degraded nodes right now, there are two options.

Removing the degraded state
---

 1. Remove the degraded annotation: For example, `oc edit nodes/osiris-worker-0-6x6fc` and change  `machineconfiguration.openshift.io/state: Degraded` to `machineconfiguration.openshift.io/state: Done`.
 1. Kill the MCD on the node; for example, `oc delete pods -l k8s-app=mach

[2019-01-17 14:06] cgwalters commented on #320
Here's a direct link to a comment with hopefully useful information: https://github.com/openshift/machine-config-operator/issues/254

[2019-01-17 14:07] cgwalters commented on #301
That was in CI.  However, I think https://github.com/openshift/machine-config-operator/pull/303 has been a strong mitigation.  But, we don't have much data here - https://github.com/openshift/machine-config-operator/pull/319 is attempting to gather some.

[2019-01-17 14:12] ashcrow commented on #254
Thanks for adding that info @cgwalters!

FWIW `reprovisioning` is the generally expected route unless one is developing/debugging.

[2019-01-17 22:52] cgwalters commented on #301
Yeah, this is still a blocking issue for #273

In a recent CI run all my masters went degraded due to failing to fetch the MC.  And for some reason I seem to have lost my workers entirely (`NotReady`) and the DS pods are `NodeLost`.

[2019-01-18 06:56] jianlinliu commented on #254
Here is my real-user scenarios, I make a messy MC, and apply it to my cluster, then some node go to "Degrade" state and sleep there. Before I follow the two suggested  option, first of all, I should remove the messy MC, right?

[2019-01-18 14:02] cgwalters commented on #301
In current master (i.e. after https://github.com/openshift/machine-config-operator/pull/321/commits/0c36d1e2e872979fc902b8b1d9307657032917e0 landed):

[code]

So yeah, that code was clearly broken.

[2019-01-18 15:33] ashcrow commented on #254
@jianlinliu That's correct. You'll want to revert back to a working MC otherwise the broken MC will continue to degrade hosts since the hosts can not apply the changes.

[2019-01-18 15:42] ashcrow commented on #301
Should https://github.com/openshift/machine-config-operator/commit/0c36d1e2e872979fc902b8b1d9307657032917e0 be reverted?

[2019-01-18 15:56] cgwalters commented on #301
Er sorry when I said "that code was broken" I meant *before* 0c36d1e.  The new code is revealing errors that existed before.

[2019-01-18 16:15] cgwalters commented on #301
Offhand, here's what I'm thinking right now.  Today AIUI, the render controller tries a policy of "keep only latest MC for a pool".

I think a pool should have something like this:

[code]

Then the render controller only queues for GC any MC which is not in that set.

OK, now how do we maintain that set?  I think a first clear cut at this would be "all MCs that are either currentConfig or desired

[2019-01-18 16:17] ashcrow commented on #301
In other words, there would always be a desiredConfig and currentConfig available, but anything that didn't match those would be under a GC of 1 hour?

[2019-01-18 17:50] hexfusion opened #325 "etcd: predicable TLS asset naming for Pod ENV"
Currently we use ${ETCD_DNS_NAME} for naming which is fine. But to simplify debugging of etcd I would like to include helper ENV vars to the Pod for etcdctl.

If we moved the unique identifier from ETCD_DNS_NAME to metadata.name we could populate the below. Saving the user a lot of time reducing this
[code]

to this
[code]

https://github.com/openshift/machine-config-operator/blob/ce2eba470b0fe85a

[2019-01-18 19:44] cgwalters commented on #301
Notes so far from a meeting on this.

We don't think (but this needs to be verified) that deleting an owner ref shouldn't GC the object.  And yeah, just playing with this briefly, that seems to be the case.

And clearly the patching code wasn't working.

We think that the MCs going away may have something more to do with some sort of race condition on cluster bringup.  Abhinav suggested the operat

[2019-01-18 20:05] jlebon commented on #125
Hmm, should we discuss whether we want this in 4.0? It's basic functionality that one would expect we'd support.

[2019-01-18 21:05] cgwalters commented on #301
OK I added a quick hack here: https://github.com/openshift/machine-config-operator/pull/324/commits/836f5e0af593fc4a36d3ccbf2aa6d3e6151b33cc

Also I noticed that nothing is setting `Paused` - is it intended for humans?  I [guessed it is](https://github.com/openshift/machine-config-operator/pull/324/commits/e7c10eca3c953a2568d5c28a26f973b36655ef10).

So ideas for better waits in the operator; we co

[2019-01-18 21:12] cgwalters commented on #301
And based on the discussion so far we shouldn't merge https://github.com/openshift/machine-config-operator/pull/318 right?  Because it would make this worse (assuming the patch works and I would believe it does).

I forget, from the meeting did we have any ideas on what a good GC policy for the MCs would be?  Did we land anywhere different from https://github.com/openshift/machine-config-operator/

[2019-01-18 21:13] ashcrow commented on #301
That sounds reasonable. If we wanted to be extra explicit about flow we could also keep MCD's from being scheduled on the workers until MC's are generated and available via the MCS. Just thinking out loud.

[2019-01-18 21:17] kikisdeliveryservice commented on #301
I thought that we had said that the 1 hour part didn't really work?

[2019-01-18 21:53] jlebon commented on #301
It definitely works. :)

Though I'd agree we shouldn't merge it until we have a better understanding of what's going on.

[2019-01-18 22:18] cgwalters commented on #301
Some work on "operator pause" here https://github.com/openshift/machine-config-operator/pull/329 - WIP, not really tested (since I'd have to make a custom release payload to do that sanely); going to hope CI runs it and see.

[2019-01-19 18:33] cgwalters commented on #301
OK I think I'm finally understanding this.  No MCs are being GC'd.  The problem is until the osimage work, we were relying on the fact that the MC generated by the bootstrap was exactly the same as the MC initially generated in the cluster.  So we either need to render the osimageurl during bootstrap (probably best) or also render the base template MC without the osimageurl too (would seem fine).

[2019-01-21 14:42] ashcrow commented on #301
:+1: yes! The original architecture passed to us was that the MC from bootstrap would end up being the same. This can't ALWAYS be counted on since it's possible someone may use an old MC when installing a new cluster, but, in those cases, the extra reboot and pivot to the updated MC would be expected and fine.

I'm good with either or both of the above.

[2019-01-21 18:08] kikisdeliveryservice commented on #269
/assign

[2019-01-21 20:21] jeremyeder opened #332 "mcd annontates node as degraded when using kubeletconfig"
My objective is to add two lines to kubelet.conf by using the kubeletconfig CR.
This has two steps
1) Add a label to the machineconfigpool for my CR to select from.
[code]
2) Create a CR that adds my two lines:
[code]

After completing those two steps, the node was rebooted, but then annotated as Degraded by MCD:

[code]

[code]

I tried deleting the Degraded annotation and deleting the MCD pod on

[2019-01-21 20:22] ashcrow commented on #332
/kind bug

[2019-01-21 21:10] cgwalters opened #334 "extend bootstrap MC with osimageurl"
This line from PR 305 (which landed) needs to include the osimageurl from the configmap:

https://github.com/openshift/machine-config-operator/pull/305/files#diff-d6f38878757202a810cfa8038e7ae122R45

It looks to me like we'd need an installer change around here https://github.com/openshift/installer/blob/d1272424396f1d42faf239dc1b976db905d0b338/data/data/bootstrap/files/usr/local/bin/bootkube.sh.t

[2019-01-21 21:10] cgwalters commented on #334
@abhinavdahiya If you have a minute to sanity check this that'd be appreciated!

[2019-01-21 21:14] cgwalters commented on #334
If this is correct then we'd need to land a change to our code to support the CLI option, then a change to the installer to use it (and probably to be nice we should support version skew and have the installer detect the presence of the option).

[2019-01-22 20:53] wking commented on #166
For folks blindly searching issues, the current behavior results in [logs][1] like:

[code]

leading to [e2e errors][2] like

[code]

Out of band, @crawford said:

[1]: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_installer/1065/pull-ci-openshift-installer-master-e2e-aws/3072/artifacts/e2e-aws/pods/openshift-machine-config-operator_machine-config-server-7mhkb_machine-config

[2019-01-22 23:06] cgwalters opened #338 "fix initial race between template and render sub-controllers"
In progress PR: https://github.com/openshift/machine-config-operator/pull/385

---

Even with the delay from https://github.com/openshift/machine-config-operator/pull/303
we've still been seeing races;
https://github.com/openshift/machine-config-operator/pull/337
is a further band-aid but obviously not a complete solution.

Currently the template controller generates 3 fragments (base, ssh, kubele

[2019-01-22 23:11] kikisdeliveryservice commented on #338
Example logs from the race seen today:
[code]

[2019-01-22 23:16] kikisdeliveryservice commented on #338
More:
[code]

[code]

[2019-01-22 23:18] cgwalters commented on #338
(The "just merge them" approach would be trivial for ssh which is part of the template code, but not for kubelet which is currently structured as a sub-controller)

[2019-01-23 10:05] squeed commented on #166
That can indeed happen, but that's not what happened here. When I filed this bug, there was a clear port conflict with an outgoing connection from the apiserver process to etcd. No amount of waiting would fix the issue

The port needs to be moved, or this random failure will continue to happen.

[2019-01-23 11:22] cgwalters commented on #338
One thing that came up in conversation about this issue is that things fail rather badly if we don't include the kubelet config in the rendered config, as it means the node will drop out of the cluster.  I've seen this happen in some PRs myself (pods going `NodeLost`); it's particularly bad if it hits a master.

[2019-01-23 18:52] kikisdeliveryservice opened #342 "mco: API needs to use consistent constants"
From: https://github.com/openshift/machine-config-operator/pull/340#issuecomment-456918932

Platform constants used in MCO should match those used here (openshift/api/config/v1/types_infrastructure.go): https://github.com/openshift/api/blob/master/config/v1/types_infrastructure.go#L41 for ex: "AWS", "Libvirt"

However we are currently using: "aws", "libvirt", etc... see for ex render.go.

[2019-01-24 00:15] kikisdeliveryservice commented on #338
Since #337 landed I no longer see `I0122 20:03:10.258500       1 node_controller.go:336] Error syncing machineconfigpool worker: Operation cannot be fulfilled on machineconfigpools.machineconfiguration.openshift.io "worker": the object has been modified; please apply your changes to the latest version and try again
` in my MCC logs.

[2019-01-24 16:16] rphillips commented on #332
@jeremyeder I tested adding cpumanager options this morning after #333 went in. Working great for me.

/close

[2019-01-24 16:16] #332 closed

[2019-01-24 17:40] kikisdeliveryservice opened #345 "mco: clean up operator.go logging / mco logs"
The new osImageURL logging in operator.go fills the logs with hundreds of:
`I0124 17:35:43.070627       1 operator.go:270] using osimageurl: registry.svc.ci.openshift.org/openshift/origin-v4.0-2019-01-23-155935@sha256:61dc83d62cfb5054c4c5532bd2478742a0711075ef5151572e63f94babeacc1a
I0124 17:35:47.628086       1 operator.go:270] using osimageurl: registry.svc.ci.openshift.org/openshift/origin-v4.0-

[2019-01-24 17:55] kikisdeliveryservice commented on #345
@cgwalters Happy to fix this, but what do you think would be best?

[2019-01-24 18:48] kikisdeliveryservice opened #346 "MCO Cluster Operator statuses frequently changing"
Unsure if this is causing any performance issues (it has not from what I can tell but)

The Cluster Operator machine-config-operator seems to cycle through statuses when the cluster is relatively idle (ie I am not performing and updates/applying mcs/etc...).  Not sure why the status is changing but it makes for a confusing user experience.  See the following.

`$ oc get clusteroperator -n machine-

[2019-01-24 18:53] kikisdeliveryservice commented on #346
cc @eparis
I've seen the same behaviour that you describe and have opened this issue.

cc @abhinavdahiya i think this is from operator sync.go/status/go etc - do you have any idea what is happening?

[2019-01-24 18:57] eparis commented on #346
While 'available' is false we won't be able to apply any cluster updates and the CVO won't be able to do it's job, right?

[2019-01-24 19:02] kikisdeliveryservice commented on #346
Add: watching the `SINCE` column in `oc get clusteroperator -n machine-config-operator` I'm not seeing it make it over ~15s before it resets to 0s

[2019-01-25 07:10] cgwalters commented on #338
Looks like this PR hit it too: https://gcsweb-ci.svc.ci.openshift.org/gcs/origin-ci-test/pr-logs/pull/21843/pull-ci-openshift-origin-master-e2e-aws/2817/artifacts/e2e-aws/pods/

[code]

[2019-01-25 09:36] ashcrow commented on #345
@kikisdeliveryservice Do we know why it's repeating? Is it happening per worker?

[2019-01-25 14:35] cgwalters commented on #345
We can just delete that log message.

[2019-01-25 23:14] kikisdeliveryservice commented on #345
@ashcrow For clarity: this is just some logging that was added recently during the osImageURL work but that due to being in sync() it logs...often.  I ran into this when I was looking into an issue reported in #346 it was really hard to see anything in the MCO logs due to these lines printed out 100s of times. The osImageURL is available in a few other places so removing this logging would make se

[2019-01-25 23:31] kikisdeliveryservice commented on #345
/assign

[2019-01-26 09:06] ashcrow commented on #345
@kikisdeliveryservice thanks for the background!

[2019-01-26 19:16] #345 closed

[2019-01-29 15:12] sjenning commented on #346
Below is a 2 minute watch at 1s intervals.

tl;dr the status is `Available` for ~20s, then moves to `Progressing`.  Status is updated again after about 5s but is still in `Progressing` state. Status is updated again after about 5s moving to `Available`.  It stays Available for about 20s again, then repeat.  The period of the cycle is ~30s, of which, 1/3 is spend in `Progressing` state.

[code]

[2019-01-29 20:13] jlebon opened #354 "Garbage collect old generated MachineConfigs"
Right now, previously generated MachineConfigs just hang around forever. We need to figure out how to clean them safely. There was related code in the render controller (see #318) that deleted the ownerRef of the pool on other MachineConfigs, but it didn't actually work (and anyway removing an ownerReference in itself doesn't trigger Kubernetes to delete the MC). The tricky part here is making sur

[2019-01-31 19:19] jlebon commented on #314
So, was playing around with an ootpa rebase now with https://github.com/openshift/pivot/pull/25 and https://github.com/openshift/machine-config-operator/pull/335, I see:

[code]

I.e. `pivot` no longer runs as `spc_t`, which is nice. But it runs as the generic `unconfined_service_t` (see [this blog post for more info](https://danwalsh.livejournal.com/70577.html)). It then executes `ostree` which j

[2019-01-31 19:31] cgwalters commented on #314
I think 2. is probably best.  A bit more work/risk but also cleanest.

[2019-01-31 21:29] yuqi-zhang opened #358 "daemon: unable to rotate token error"
After the daemon has been running for ~5 minutes, it starts to spam:

`E0131 21:27:01.343248   29281 token_source.go:132] Unable to rotate token: failed to read token file "/var/run/secrets/kubernetes.io/serviceaccount/token": open /var/run/secrets/kubernetes.io/serviceaccount/token: no such file or directory`

repeatedly in the daemon logs. It does not seem to otherwise affect daemon behaviour.

[2019-01-31 21:48] ashcrow commented on #358
/cc @abhinavdahiya

[2019-01-31 21:48] ashcrow commented on #358
/kind bug

[2019-01-31 21:50] thoraxe opened #360 "[RFE] pre/post application hooks, reboot definition"
It came up in conversation today that it might be useful to be able to define pre/post application hooks and/or define whether or not node reboots are required. While sysctls aren't an ideal use case, they are a somewhat realistic one.

For example, on a regular system, applying a sysctl involves adding an `/etc/sysctl.d` file and then executing something like `sysctl -p`. A reboot isn't required

[2019-01-31 21:50] abhinavdahiya commented on #358
Is this happening only for daemon? And all other pods, operator, controller, server are working?

[2019-01-31 21:54] yuqi-zhang commented on #358
Operater/controller/server seem to be fine. Although I specifically rebuilt the daemon from the `master` branch myself.

[2019-01-31 21:54] ashcrow commented on #360
/cc @runcom

[2019-01-31 21:54] abhinavdahiya commented on #358
It might have to do with chroot after client has been created [here](https://github.com/openshift/machine-config-operator/pull/46)

[2019-01-31 21:56] abhinavdahiya commented on #358
daemon needs to be able to rotate its credentials.

[2019-01-31 21:58] yuqi-zhang commented on #358
If that's the case I'm surprised we haven't seen this earlier, unless token rotation is relatively new?

I can check whether this happens with a fresh cluster from `master` of the installer to make sure whether changing image and rebooting does something wonky.

[2019-02-01 01:00] kikisdeliveryservice commented on #166
This issue seems to have come up again seeing in MCS logs in CI:
[code]

[2019-02-01 01:07] kikisdeliveryservice commented on #358
@ashcrow how long lived would we be looking for?

[2019-02-01 12:20] runcom commented on #360
I believe this makes sense and most of the time applying a MachineConfig doesn't really require an update (the case I have in mind is changing the crio configuration through the CRD, that just requires a `systemctl restart crio.service`). Chrony and sysctls are other great examples as post-hooks.
As for pre-hooks, not sure if we do already have something, but one could set up something to rename a

[2019-02-01 14:07] ashcrow commented on #166
There wasn't disagreement on 32623. Unless someone had a reason to avoid the port it's a fair change.

[2019-02-01 14:09] ashcrow commented on #358
I don't know how often the rotation occurs by default unfortunately.

[2019-02-01 14:43] cgwalters commented on #338
Still seeing this even after #339 - in a libvirt cluster I just ran:

[code]

And f31d48ff definitely includes #339

[2019-02-01 14:53] sdodson commented on #360
Sounds dangerously close to MCO becoming a re-implementation of ansible tasks. Following the discussion here.

[2019-02-01 16:39] cgwalters commented on #360
There's also the general pattern we have of defining custom CRDs for things.  Today the kubelet bits are a special sub-controller; could imagine e.g. having a "NTP confg" CRD, and also teach the MCD how to live-apply NTP config changes.

[2019-02-01 16:43] jlebon commented on #360
Yeah, not a big fan of adding (to borrow a word from the RPM world) scriptlets. The way I was thinking about it, any kind of "skip reboot" optimization should probably live in the MCD itself since the MCD knows exactly what the diff is from the previous to the next config. (And it's flexible of course how that code plugs into the MCD, I think we were discussing a plugin system at some point?)

[2019-02-01 16:59] jlebon commented on #166
Hmm yeah, staying outside the default range makes sense to me given that client apps could hardcode a `nodePort` that matches whatever we choose there. (And it doesn't seem like the installer has a knob to change the range easily, so that's good.)

[2019-02-01 17:50] kikisdeliveryservice commented on #360
Along the lines of what @jlebon this seems outside of what the MCD is intended to do, ie apply changes in a controlled/predictable way. The ability for users to change the fundamental behavior so much could also really affect troubleshooting/maintenance/expectations down the line.  I think it makes more sense for the MCD itself to define what it will do and how, which seems more in-line with our p

[2019-02-01 18:36] cgwalters commented on #338
Maybe rather than starting all of the sub-controllers concurrently, we want to do something like:

- Start all sub-generators [today kubelet, could also think of ssh this way]
- Start the render controller
- Start the node controller

And each phase waits for readiness.  That way the render controller will always see a full run of our internal MCs.  And the node controller can't do anything until

[2019-02-01 19:03] kikisdeliveryservice commented on #346
This issue should be fixed by #351 : The underlying cause was that the MCO was not adhering to CVO status rules. The "Available" status was erroneously tracking the "Progressing" status (which currently changes frequently due to MCO informer changes) instead of tracking whether the cluster is actually available at status: version X and functional.

Closing this issue now.  Thanks for your helpful

[2019-02-01 19:03] #346 closed

[2019-02-01 19:32] ashcrow commented on #166
`22623`?

[2019-02-01 19:34] kikisdeliveryservice commented on #166
any objections to 22623?

/assign

[2019-02-01 19:50] cgwalters commented on #301
Closing in favor of https://github.com/openshift/machine-config-operator/issues/354
since there wasn't actually any GC https://github.com/openshift/machine-config-operator/issues/301#issuecomment-455804265

[2019-02-01 19:50] #301 closed

[2019-02-01 19:51] ashcrow commented on #354
/kind enhancement

[2019-02-01 21:11] ashcrow commented on #166
Seems like none :smile_cat:

[2019-02-01 21:36] crawford commented on #166
22623 is fine.

[2019-02-01 21:45] sjenning opened #367 "master machineconfig pool reports degraded on new cluster"
Just installed the cluster and MCO reports failure

[code]

In fact, all masters show `state: Degraded`.  However 2 of the 3, the `currentConfig` and `desiredConfig` is the same, which conflicts with the `state`.

[code]

`machine-config-daemon` is running on all nodes.

logs from the daemon on the degraded master

[code]

Indeed, the old `MachineConfig` `master-b41804f2dd413f9ac7a730e8a241d716` h

[2019-02-01 21:47] kikisdeliveryservice commented on #367
This is related to : #358

[2019-02-01 21:48] kikisdeliveryservice commented on #367
Token rotation issues seen again.

[2019-02-01 21:51] cgwalters commented on #367
Nothing is removed right now, see https://github.com/openshift/machine-config-operator/issues/354

I don't think this is token rotation.

The problem here is likely related to https://github.com/openshift/machine-config-operator/issues/338
or a variant of https://github.com/openshift/machine-config-operator/issues/301

where if the MC generated at bootstrap time isn't identical to the one the clus

[2019-02-01 22:00] sjenning commented on #367
I provided quite a data dump there but the tl;dr is this in the daemon logs
[code]

[2019-02-01 22:01] cgwalters commented on #358
Yeah we should probably back off the chroot into the host rootfs...though that is going to require some nontrivial reworking in the code.

[2019-02-01 22:08] kikisdeliveryservice commented on #358
Someone else also saw this in a new cluster from today (logs are in the link above).

[2019-02-02 02:17] derekwaynecarr commented on #358
i hit this on a cluster < 1hr.  i discovered it when i appeared to have a master show "degraded" state while trying to apply a new update payload, and not sure what to do to debug further.  fwiw, i see the token is in pod.

[2019-02-03 09:22] runcom opened #372 "ssh: accessed annotation when creating a new MC"
creating a mc to e.g. add a new file applies the ssh: accessed annotation

[code]

related to https://github.com/openshift/machine-config-operator/pull/359 and  the use of `logind.SessionNew` signal

[code]

Seems to happen on reboot though,  due to the subscribe channel closing:

[code]

It doesn't happen on real ssh login, and we're indeed getting a proper signal instead of `nil`:
[code]

[2019-02-03 22:52] runcom commented on #372
/kind bug

[2019-02-04 14:14] ashcrow commented on #372
/cc @yuqi-zhang

[2019-02-04 15:10] cgwalters commented on #367
To repeat - nothing is deleting MCs today.  The problem is much more complex than that.

A MachineConfig object is a function of a variety of inputs, from the base templates we ship with the operator, to SSH keys, kubelet config, soon osImageURL etc.

The bootstrap path generates MCs via a different codepath than after the cluster comes up.  You can see this in how in https://github.com/openshift/

[2019-02-04 15:36] cgwalters commented on #367
@abhinavdahiya does :arrow_up: sound right?  Any other ideas?

[2019-02-04 18:57] cgwalters commented on #367
OK, been reading installer code this morning.  Today on the bootstrap node you'll see this:

[code]

These are generated by the MCC in bootstrap mode, which is a static pod launched by `bootkube.sh`.

There's a separate (strangely named?) `openshift.service` which executes `openshift.sh` whose job is to inject installer-generated assets into the cluster.  I think then it should work for us to simp

[2019-02-04 19:10] abhinavdahiya commented on #367
https://github.com/openshift/machine-config-operator/blob/e621b7cacfd2827151c31809ee46210c2faf7a22/pkg/server/bootstrap_server.go#L42-L58

[2019-02-04 19:33] cgwalters commented on #367
Another idea I had is that given that a MachineConfig object and Ignition are *almost* the same thing - I could imagine that we embed the necessary data inside the Ignition JSON, and turn it into a MC.

Then the MCD wouldn't need to hit the cluster to find its current config; could theoretically make GC easier too.

[2019-02-04 19:47] ashcrow commented on #367
Would we need to expand the MC spec a bit (which is doable) or are you thinking of adding a section to [`Ignition`](https://coreos.com/ignition/docs/latest/configuration-v2_3.html) literally, just one that would be intercepted before it hits `Ignition`?

[2019-02-04 19:51] cgwalters commented on #367
Currently testing:

[code]

[2019-02-04 19:59] cgwalters commented on #367
The node gets Ignition JSON which; not sure yet actually if Ignition saves it around somewhere for other processes to read.  But let's say Ignition saved it for us in `/run/ignition.json`.  99% of that data is the files section; the rest of the machineconfig data (e.g. osimageurl) we could stick inside the ignition json in some special extension section.

[2019-02-04 20:30] ashcrow commented on #367
I don't believe so, but @ajeddeloh could answer.

OK, I follow. So it would be utilizing an unused section within `Ignition`. My only worry is I'm not sure that would be considered a valid `Ignition` config.:
[code]

[2019-02-04 20:45] #358 closed

[2019-02-04 21:03] kikisdeliveryservice commented on #367
The current Igniton 2.2 spec: https://coreos.com/ignition/docs/latest/configuration-v2_2.html

[2019-02-04 21:16] cgwalters commented on #367
PR in https://github.com/openshift/installer/pull/1189

[2019-02-04 21:52] #372 closed

[2019-02-04 22:45] jlebon commented on #367
Re. sneaking in third-party keys in the Ignition config, this is discussed here: https://github.com/coreos/ignition/issues/696.

[2019-02-04 23:59] runcom opened #379 "Early ssh access detection"
I'm surely missing some context but I believe the issue still holds. Anyone can currently ssh into nodes before the MCD runs or the login monitor goroutines is started leaving a window open where we won't detect that.

~~I was thinking (wrongly cause I don't know the installer code probably), can we completely disable the sshd service between the installer ending needing it, and have the MCD itsel

[2019-02-05 00:44] cgwalters commented on #379
https://github.com/openshift/machine-config-operator/pull/359#issuecomment-459746749

[2019-02-05 14:58] cgwalters commented on #367
OK this is fallout from https://github.com/openshift/machine-config-operator/pull/343

Here's a diff from my local libvirt's bootstrap MC versus cluster:

[code]

[2019-02-05 15:10] cgwalters commented on #367
It looks to me like https://github.com/openshift/machine-config-operator/pull/343/commits/6f0f3ff6e5baf7775c21bfc0b9e69b8b497391bd
added `--etcd-image` and `--setup-etcd-env-image` but there was no corresponding change in the installer to pull those out of the release payload?

[2019-02-05 15:34] cgwalters commented on #367
Took a stab at this in https://github.com/openshift/installer/pull/1194 - trying to test locally but the libvirt download is being slow for some reason.

[2019-02-05 15:45] ashcrow commented on #379
/assign @runcom

Since there is a PR that will close this issue.

[2019-02-05 16:21] ashcrow opened #382 "Degradation of nodes should provide better information"
Currently when a node goes into `degraded` it can be hard to figure out why this is the case. Some possibilities include:

- Unable to parse a section of the MC
- Unable to apply the `Ignition` configuration
- Unable to `pivot` to an operating system update

Ideally, when the MCD decides the node should be `degraded` it should bubble up information as to why.

/cc @derekwaynecarr @imcleod @runcom

[2019-02-05 16:23] runcom commented on #382
I believe I've seen something about adding an annotation to explain that (`degradedReason` or something like that?)

[2019-02-05 16:25] ashcrow commented on #382
@runcom could work ... though if we can get the information in a way that is shown easily in the UI that would be even better.

[2019-02-05 16:37] cgwalters commented on #382
See also https://github.com/openshift/machine-config-operator/issues/234

[2019-02-05 17:00] cgwalters opened #383 "install ClusterOperator CRD as part of release payload"
Currently we install it dynamically; this means the CVO is unaware of our status and won't e.g. error out if we start failing.

Doing this will be a way to get gating on degraded status.

[2019-02-05 17:02] cgwalters commented on #383
Example: https://github.com/openshift/cluster-kube-controller-manayger-operator/blob/master/manifests/0000_12_kube-controller-manager-operator_07_clusteroperator.yaml

[2019-02-05 17:13] cgwalters commented on #383
And then we'd need to start e.g.

[code]

Looking at the code in the CKCMO repo I think we need this:

[code]

[2019-02-05 18:31] cgwalters commented on #338
Sketching this out:

[code]

[2019-02-05 18:37] kikisdeliveryservice commented on #382
For the MCs that info should be easy since it's coming down to reconcilable() but a side effect that I can see is lots of confusion as to why a node completely degrades just bc a MC is incorrect: #254

[2019-02-06 13:41] runcom commented on #383
we'll also need something like `status.NewClusterOperatorStatusController(` from `github.com/openshift/library-go/pkg/operator/status` as other operator uses + I believe https://github.com/openshift/machine-config-operator/pull/351 must be reworked now to use `library-go` as well.

[2019-02-06 15:08] abhinavdahiya commented on #383
https://github.com/openshift/cluster-version-operator/blob/master/docs/dev/clusteroperator.md

CVO will NOT install your clusteroperator

[2019-02-06 15:15] runcom commented on #383
@abhinavdahiya could you elaborate on that and tell me how to proceed? like, is there code you can point me to so I can check there? I assumed https://github.com/openshift/cluster-version-operator/blob/master/docs/dev/clusteroperator.md#why-i-want-clusteroperator-custom-resource-in-manifests would just take and apply the CO

[2019-02-07 03:04] #166 closed

[2019-02-07 13:08] runcom commented on #367
referenced PRs are merged

[2019-02-07 14:37] cgwalters opened #388 "support kernel arguments"
We landed a lot of good work in `rpm-ostree kargs`.  What we need to do is wrap that in MachineConfigs.  One decision point is whether this is an extension to Ignition (if specified then does Ignition reboot?).  Or is it a new item in the MachineConfig spec itself?

And the MCD would need to understand how to reconcile the user-specified kargs versus what's the default.

[2019-02-07 14:54] runcom opened #389 "worker nodes go NotReady after a while"
Spotting this on clusters I leave running during the night, the next day, workers are just dead. Not sure if it's us, but worth investigating if you also see this (I believe someone else saw this as well). If it's known, please feel free to close this issue.

[2019-02-07 14:57] ashcrow commented on #389
/kind question

[2019-02-07 19:49] sjenning commented on #389
Introduced by https://github.com/openshift/cluster-kube-controller-manager-operator/pull/132 and fixed in https://github.com/openshift/cluster-kube-controller-manager-operator/pull/147

[2019-02-07 19:49] #389 closed

[2019-02-07 19:59] mrguitar commented on #388
@runcom ^^

[2019-02-07 21:00] derekwaynecarr opened #393 "machine-config-daemon drain not succeeding on update, permanent degrade"
Steps to reproduce:

1. install cluster
2. apply an update
3. machine-config-daemon goes unhappy
4. fails to reboot
5. daemon restarts and goes perm degraded.

logs between steps 3 and 4 as follows:

[code]

pod appears to restart and run in perm fail state on startup as boot-id matches.

[code]

Need to determine why drain did not succeed and reboot did not happen.

[2019-02-07 21:06] derekwaynecarr commented on #393
The line in question:

[code]

A failure from a kubernetes request should never result in a permanent failure mode of the daemon.  It should and must retry always.

[2019-02-07 22:12] jlebon opened #395 "Strengthen error-handling when dealing with transient errors"
The MCD should not take lightly the decision to degrade a node. All I/O operations subject to a higher possibility of transient failures should be retried (e.g. API requests, file downloads, waiting for events, etc...). We need to (1) audit the whole MCD to make sure this is the case, and/or (2) add some higher-level retry logic to make sure we catch all instances and don't regress on it as new co

[2019-02-07 22:15] runcom commented on #395
we could do some nice type checking on go errors for this but I fear we'll need some wrapping anyway

[2019-02-07 23:30] #393 closed

[2019-02-08 17:44] runcom commented on #294
@wking just to iterate on this one, is it possible today, as a day-2 operation, to bring up instances on aws and mark them in a new MCpool? I've tried scaling the worker set, creating a machine pool and a machine config but everything blew up cause previous machine configs tied to "worker"s role are taking over anyway. Just trying to find a pointer to follow so I can test this out further.

[2019-02-08 17:49] runcom opened #396 "decouple daemon code wrt platform"
After #335 and https://github.com/openshift/machine-config-operator/pull/381 the daemon code requires CGO to build because of C bindings to systemd journal. The way the code is structured right now doesn't allow us to avoid compiling with cgo also the controller and the server.
We need to decouple the code based on platform using Go build tag so we're eventually compiling only the daemon with cgo.

[2019-02-08 17:57] runcom commented on #396
taking a stab at this.

[2019-02-08 18:01] runcom commented on #396
actually for us, it all boils down to some of the daemon consts, I guess we can move them out also

[2019-02-08 21:29] #396 closed

[2019-02-08 22:21] cgwalters commented on #367
This should be fixed now.

[2019-02-08 22:21] #367 closed

[2019-02-09 13:55] #383 closed

[2019-02-09 15:39] runcom opened #398 "Substitute pkg/ with internal/"
Code within pkg/ here is by no mean intended to be used outside of this project. Since Go 1.4 we can move everything under pkg/ to internal/ so we can only use our stuff and nobody else could vendor and use it (that's our code and not intended to be imported anyway). Go enforces it of course https://golang.org/doc/go1.4#internalpackages

I'm also trying to understand if code under lib/ is just a f

[2019-02-09 17:36] runcom commented on #197
Should be closed because of the recently merged PR?

[2019-02-09 17:37] runcom commented on #197
https://github.com/openshift/machine-config-operator/pull/353

[2019-02-11 14:41] runcom opened #400 "Kubelet (and CRI-O) CRDs can be fooled by normal MCs"
If you create a machine config referencing the kubelet config (or the CRI-O once it lands) you're able to go around the existing CRD we have in place for the kubelet (and soon CRI-O).

The following MC causes at least `maxUnavailable` node(s) to go completely off (kube isn't reporting anymore).
[code]

[code]

[code]

Ideally, either the kubelet/cri-o config controllers block or reconcile such a t

[2019-02-11 15:04] ashcrow commented on #398
:+1: to moving to `internal`.

I don't believe `lib/` is vendored.

[2019-02-11 15:05] runcom commented on #398
too bad, worth understanding why is that and how we can move to that direction instead of using forks

[2019-02-11 15:15] ashcrow commented on #398
@abhinavdahiya :arrow_up:

[2019-02-11 15:52] cgwalters commented on #346
Commenting on a closed issue, I know.  Not worth a new one yet.  I notice we still bounce into Progressing a lot seemingly for no reason.

[2019-02-11 16:13] runcom commented on #101
now that we have e2e properly setup, let's go e2e for these kinds of testing as the abstraction just adds complexity (and has some bug as well)

[2019-02-11 18:12] abhinavdahiya commented on #398
The following packages are most definitely supposed to be used outside this project.
- `pkg/apis`
- `pkg/generated`
- `/pkg/controller/common/constants.go`
- `pkg/daemon/constants/constants.go`

while these can be used outside:
- `pkg/daemon/rpm-ostree.go`

[2019-02-11 18:14] runcom commented on #398
cool, much better to have that picture now, thanks @abhinavdahiya

[2019-02-11 18:15] runcom commented on #398
@abhinavdahiya though, what about `lib/`? is there something we can follow through vendor or does it need to stay forked for now?

[2019-02-11 18:49] jlebon commented on #400
Related: https://github.com/openshift/machine-config-operator/pull/330#discussion_r253114040. Thanks for bringing this up as a separate thread!

We definitely want to document this properly so users know about the CRD. Though do we want to actively block overriding it? Is there a use case for being able to override `kubelet.conf` at the MC level? The one I originally thought of was for overriding

[2019-02-11 18:58] runcom commented on #400
My reason for actively blocking it is because I don't really want to leave that port opened for admins to shoot themselves in the foot. I fear that even if we document it, leaving that provides a ui which is allowing you to do the same things in two ways. The way I see CRDs (and feel free to tell me I'm blind) is to provide a nice UI for important configuration (like kubelet and crio) that we want

[2019-02-11 20:29] derekwaynecarr commented on #395
log from a variation of a similar problem:

[code]

[2019-02-11 22:18] cgwalters opened #407 "operator should handle MCD sync gracefully"
We need to start doing testing of `oc adm upgrade` including a new MCO codebase.

Rolling out a new MCC may involve e.g. new configs being generated, which could start machine updates.  If the MCD on a node is involved in trying to do that sync, it's going to be disruptive to have it be replaced by the MCO updating the MCD daemonset.

Offhand...I think if we're operating on an existing cluster, th

[2019-02-11 22:22] runcom commented on #407
makes total sense

[2019-02-11 22:35] runcom opened #410 "Wrap wait.* calls to expose the real error on failure"
Taken from https://github.com/openshift/machine-config-operator/pull/408#discussion_r255720389

There are other spots where we're not correctly reporting the error (i.e. https://github.com/openshift/machine-config-operator/blob/master/pkg/daemon/node.go#L55-L65)

On error, we should save the `lastErr` encountered + check for `wait.ErrWaitTimeout` in the `if err != nil` and report lastErr.

[2019-02-12 14:57] jlebon commented on #410
Ahh yep, that makes sense to me. (With the caveat that it might actually have been a different error on each retry, but even then, just percolating the last error seems like the right behaviour.)

[2019-02-12 19:28] dgoodwin opened #414 "CI Failures: machine-config-server is not ready"
In Hive we're seeing failures launching a cluster that appear related to machine config:

https://gcsweb-ci.svc.ci.openshift.org/gcs/origin-ci-test/pr-logs/pull/openshift_hive/221/pull-ci-openshift-hive-master-e2e/40/

Installer log (https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_hive/221/pull-ci-openshift-hive-master-e2e/40/artifacts/e2e/installer/.openshift_install.log) sho

[2019-02-12 20:22] #314 closed

[2019-02-12 20:32] kikisdeliveryservice commented on #346
@cgwalters It will switch to Progressing whenever something is going on with any of the informers: https://github.com/openshift/machine-config-operator/pull/351#issuecomment-459070403

It happens so often though, I'm not sure it makes for a meaningful status.

[2019-02-12 21:13] runcom commented on #346
This is supposed to fix the bouncing https://github.com/openshift/machine-config-operator/pull/406

[2019-02-12 22:06] runcom opened #417 "TestKubeletConfigCreate flake?"
This test fails from time to time, let's track it down
[code]

[code]

[2019-02-12 22:06] runcom commented on #417
/cc @sjenning

[2019-02-12 22:12] kikisdeliveryservice commented on #417
I hit this just now. Full logs: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_machine-config-operator/415/pull-ci-openshift-machine-config-operator-master-unit/1034/build-log.txt

[2019-02-12 22:12] ashcrow commented on #417
Example: https://github.com/openshift/machine-config-operator/pull/415

[2019-02-13 00:18] kikisdeliveryservice commented on #414
@dgoodwin I believe that those errors will be seen a few times and aren't what caused your failure.

I'm not familiar with hive, but I looked thru the MCS logs and see:
[code]

Are you using port 49500 elsewhere? Due to issue: #166  I recently put in a fix (#368) to transition from using 49500 -> 22623. Might that solve the problem? You'd have to pull master to get it though since it just merged t

[2019-02-13 00:23] kikisdeliveryservice commented on #414
Also @dgoodwin can you add a bit of info about what you are running installer version, any modifictions, etc.. as I'm not familiar with Hive.

[2019-02-13 00:26] kikisdeliveryservice commented on #414
The MCO logs seem reasonably normal, the machineconfigs were generated as expected:
[code]

[2019-02-13 00:29] kikisdeliveryservice commented on #414
MCO logs seem ok as well:
[code]

[2019-02-13 00:41] kikisdeliveryservice commented on #414
Summary:
Can confirm that I see the ```time="2019-02-12T18:39:57Z" level=debug msg="Still waiting for the cluster to initialize: Cluster operator machine-config is reporting a failure: Failed when progressing towards 3.11.0-605-g56569135-dirty because: error syncing: timed out waiting for the condition during waitForDaemonsetRollout: Daemonset machine-config-server is not ready. status: (desired:

[2019-02-13 11:36] dgoodwin commented on #414
This was a CI job flake, so it's basically just running the installer from master and it's floating release image and would have occurred around the timestamp on the files in the links. There's nothing we're doing with that port in play that I can think of. It's possible I missed the merge, and I do know we made it through a PR later in the day.

[2019-02-13 16:53] #379 closed

[2019-02-13 17:04] sjenning opened #421 "operator reports status Failed when operand version doesn't match operator version"
For debugging/testing, I built a custom release image, overriding the `machine-config-controller` image pull spec

[code]

This results in a failure of the MCO
[code]
It seems that the operator expects each operand to match its own version.  This should not be a constraint.  All that is required is that the image pull spec match the pull spec given to MCO by the CVO.

[2019-02-13 17:09] runcom commented on #421
we need to relax those checks I guess

[2019-02-13 18:38] kikisdeliveryservice commented on #421
@sjenning can we see the MCO and MCC logs?

[2019-02-13 18:41] kikisdeliveryservice commented on #414
Thanks for the update. I'll leave this open for a bit to see if it recurs though aws was having lot of issues yesterday.

[2019-02-13 18:47] runcom commented on #421
@sjenning did you run an upgrade after the cluster was up or you installed with the custom release payload?

[2019-02-13 19:05] sjenning commented on #421
custom release payload with the `machine-config-controller` overridden

looking at https://github.com/openshift/machine-config-operator/blob/f31d48ff4a64babee6d9fd208bb7aceaa081b2a7/pkg/operator/status.go#L225-L231

and was added by @abhinavdahiya in https://github.com/openshift/machine-config-operator/pull/265

seems that it is trying to verify that the MCO version matches the MCC version that cr

[2019-02-13 19:11] runcom commented on #421
yeah, I was looking at the very same code, we're tagging each MC with a statically built verison of the component itself. Using image specs from the CVO might make sense though (as the only source of truth) . We can tag mc with the image spec, and since the operator has a list of CVO provided images we can match against those (if it makes sense at all)

[2019-02-13 21:53] runcom commented on #421
ok yeah, I get the same as well:
[code]

[2019-02-13 21:59] runcom commented on #421
@sjenning a workaround I'm trying for testing/developing is bundling the whole MCO like this:

[code]

[2019-02-13 23:02] cgwalters commented on #421
This gets into the fact we really haven't been testing MCO upgrades of itself :frowning:

[2019-02-13 23:14] runcom commented on #421
do we have a scenario where we just update one of the subcomponents of the MCO rather than the whole MCO with everything? :thinking: cause yeah, if that's gonna be the case, we need to cover it

[2019-02-13 23:42] runcom commented on #421
at this point, since we're shipping different images for all the MCO components, I'm thinking if we shouldn't version them all instead of using a global version for all the four.

[2019-02-14 11:29] runcom opened #428 "Add e2e smoke tests for KubeletConfig and CRI-O CRDs"
Even if those are managed by other teams, it would be nice to have some e2e coverage for them. Smoke tests would suffice (as well as some regression tests like https://github.com/openshift/machine-config-operator/pull/424#issuecomment-463383904)

[2019-02-14 14:11] runcom opened #429 "nodes limited to just one pool"
I've been following https://github.com/openshift/training/blob/master/docs/05-infrastructure-nodes.md in an attempt to create "workers" with different roles for distruptive e2e tests. So, no matter anything, creating a new machineset always apply the "worker" role to a node, resulting in nodes having multi roles:

[code]
if you add a pool matching `infra` now (and you already have one matching `wo

[2019-02-14 15:24] cgwalters commented on #183
If today one wants to test an os update, here's an object you can `oc create`:

[code]

[2019-02-14 17:59] kikisdeliveryservice commented on #414
Closing for now, feel free to reopen if this comes up again.

[2019-02-14 23:15] kikisdeliveryservice commented on #414
Reopening this bc I just saw this in CI today:
Logs here: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_machine-config-operator/415/pull-ci-openshift-machine-config-operator-master-e2e-aws/1803

[2019-02-14 23:22] kikisdeliveryservice commented on #414
Saw exact same error as author above:
`level=fatal msg="failed to initialize the cluster: Cluster operator machine-config is reporting a failure: Failed when progressing towards 3.11.0-646-g875bc74e-dirty because: error syncing: timed out waiting for the condition during waitForDaemonsetRollout: Daemonset machine-config-server is not ready. status: (desired: 3, updated: 3, ready: 2, unavailable: 2

[2019-02-14 23:27] kikisdeliveryservice commented on #414
is the installer that's running in e2e-aws master (since I put in that PR that doesn't use 49500 anymore) or is it something else? Will #423 take care of this once and for all?

[2019-02-15 10:13] runcom opened #433 "oc debug defeats the accessed annotation"
**Description**

running `oc debug node/nodename` effectively gives access to a node defeating our access checks to mark a node as accessed

**Steps to reproduce the issue:**
1. `oc debug node/nodename`
2. from within the debug pod `chroot /host /bin/bash`
3.

**Describe the results you received:**

access to a node through a pod with zero awareness from the MCD

**Describe the results you expecte

[2019-02-15 12:29] runcom commented on #429
I may have found another way to just have pure "infra" nodes but that requires a lot of messing (create secret for machine-api-opreator, copy and edit the *-worker* MC and so on and so forth). Scripting all of that in a test is also a pain and it would be just AWS which isn't perfect either...still not sure

[2019-02-15 14:04] jlebon commented on #414
Yeah, should be fixed now that #423 is merged.

[2019-02-15 14:18] ashcrow commented on #414
@dgoodwin let us know if #423 doesn't fix the issue.

[2019-02-15 17:19] runcom commented on #417
another occurrence in https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_machine-config-operator/437/pull-ci-openshift-machine-config-operator-master-unit/1126

[2019-02-15 18:50] kikisdeliveryservice commented on #433
Q: should this get the same accessed notation as someone sshing in? Or some different notation?

Related: https://github.com/openshift/origin/pull/21997

[2019-02-15 19:04] runcom commented on #433
right, I'm leaning towards answering yes to that

[2019-02-15 19:13] cgwalters commented on #433
Keep in mind that `oc debug node` is just sugar; a kubeadmin can schedule any privileged container that mounts the host.

It'd be much more reliable to detect any containers that do both of those things in the kubelet e.g.

(Perhaps even more generally any privileged containers from outside of the platform - since if you have `CAP_SYS_ADMIN` you can easily do whatever you want even from inside a m

[2019-02-15 19:23] yuqi-zhang commented on #433
Alternatively, would it make sense for the MCD to periodically check the host for drifts from expected state that would "screw up" the node?

Also with https://github.com/openshift/installer/pull/1045 merged it's unlikely we'll see many SSH access's in general.

[2019-02-15 19:24] runcom commented on #433
Yeah, I believe this has been discussed already somewhere and looks sane as well

[2019-02-16 14:03] runcom opened #444 "Flake TestShouldMakeProgress"
The test in $TITLE is racy, I've seen it failing now in #439 - here's the job https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_machine-config-operator/439/pull-ci-openshift-machine-config-operator-master-unit/1155

The test flake is easily reproducible with:
[code]

Here's the failing output:

[code]

[2019-02-16 14:03] runcom commented on #444
wondering also if this could have the very same root cause as #417

[2019-02-17 00:57] runcom commented on #417
this is still happening @rphillips https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_machine-config-operator/446/pull-ci-openshift-machine-config-operator-master-unit/1182

[code]

[2019-02-17 00:58] runcom commented on #417
happened again https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_machine-config-operator/442/pull-ci-openshift-machine-config-operator-master-unit/1183

[2019-02-17 14:30] runcom opened #447 "Add static checks to the project in PRs"
Setup either the CI or wire in Travis to do static check on code changes, `make verify` in this repo isn't checking everything nor it's wired to check automatically. Something like https://github.com/kubernetes-sigs/cri-o/blob/master/.tool/lint + yamllint would be reasonable. Checks must be done only on the diff of a current PR, not the whole project (otherwise, there are a lot of failures and we

[2019-02-17 17:37] runcom opened #449 "TestContainerRuntimeConfigCreate flake"
Basically the same flake as #417 but for the containerruntime controller:
Notice that #417 is closed but we've spotted it again, so we'll reopen it.

[code]

Jobs:

- https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_machine-config-operator/401/pull-ci-openshift-machine-config-operator-master-unit/1211

[2019-02-17 17:37] runcom commented on #449
/assign @mrunalp
/assign @umohnani8

[2019-02-17 23:58] runcom opened #451 "TestKubeletConfigUpdates flake"
Similar to #417 and #444, seen in https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_machine-config-operator/450/pull-ci-openshift-machine-config-operator-master-unit/1222

[code]

/cc @sjenning @rphillips

[2019-02-18 01:02] runcom commented on #417
Ok found out what's happening in tests at least, all the `*Lister` in the tests are racy or logic is flawed somewhere and can result in object not being properly listed after being added. Placed some debug and I can confirm that running with `-race` shows me that behavior:

[code]

you can see the `mcpLister` failed to give back the expected object (see logs with "runcom " in them)

[2019-02-18 01:05] runcom commented on #417
the informers store can also have bad data as a result of either a bug in test or code

[2019-02-18 11:00] runcom commented on #417
Reopening since we still get this

[2019-02-18 12:48] runcom commented on #395
This is still open because we want to use the lister from the node informer when getting the node (we're still using the kubeclient to get the nodes and that can fail directly)

[2019-02-18 13:57] runcom commented on #421
since `oc adm release new` allows to only override a specific component, I believe we need to version each component separately and adjust the code to account for that.

[2019-02-18 14:12] cgwalters commented on #183
This finally landed in https://github.com/openshift/machine-config-operator/pull/426

[2019-02-18 14:12] #183 closed

[2019-02-18 17:42] runcom commented on #421
Synced up with Clayton on this, we expect to ship the MCO as a whole from git so the check is expected and we can't just version every subcomponent separately. I understand it's a pain for development, we'll reiterate on this soon I guess to ease development in case you override just a subcomponent.

[2019-02-18 18:06] sjenning commented on #417
/assign @rphillips

[2019-02-18 18:06] sjenning commented on #451
/assign @rphillips

[2019-02-18 18:27] runcom opened #453 ""Applied ImageConfig cluster on MachineConfigPool" logs too frequently?"
If you deploy with the latest MCO, you'll get something like this in logs, haven't had any time to debug but I don't expect it to happen if nothing changes in the image crd right?

those are the logs from the controller in openshift-image-config-operator namespace:

[code]

[2019-02-18 18:37] runcom commented on #451
notice that the test may be also flake somehow https://github.com/openshift/machine-config-operator/issues/417#issuecomment-464538786

[2019-02-18 18:37] umohnani8 commented on #453
Yeah it shouldn't. But this looks like the image config informer keeps saying that the image CR has been updated every 20 mins or so. Plus you see two of each log because there are two MCPs and it applies the image config changes to both.
I guess I could add a check to see if there were any changes to the RegistrySources field when the informer says an update has happened.

[2019-02-18 18:37] runcom commented on #451
notice that the test setup and run may be also flake somehow https://github.com/openshift/machine-config-operator/issues/417#issuecomment-464538786

[2019-02-18 18:37] runcom commented on #449
notice that the test setup and run may be also flake somehow https://github.com/openshift/machine-config-operator/issues/417#issuecomment-464538786

[2019-02-18 18:39] umohnani8 commented on #449
@runcom on it.

[2019-02-18 18:41] runcom commented on #453
yeah, let's understand why we're getting that as well if it's not supposed to do that (or as you said, filter out stuff when nothing has changed).

[2019-02-18 19:53] sjenning opened #455 "Pod sandboxes do not use payload specified image"
https://github.com/openshift/machine-config-operator/blob/master/templates/master/01-master-container-runtime/_base/files/crio.yaml#L206

https://github.com/openshift/machine-config-operator/blob/master/templates/worker/01-worker-container-runtime/_base/files/crio.yaml#L206

Should use the `pod` image from the release payload.

There is some plumbing to do here as that image pull spec is not provi

[2019-02-18 20:20] kikisdeliveryservice commented on #451
@runcom are these flakes blocking or do they go away after multiple retries?

[2019-02-18 21:06] sdodson commented on #455
/cc @vrutkovs @mtnbikenc
We'll want to track this change so we're ideally setting the correct pause image during BYO.

[2019-02-18 21:22] runcom commented on #451
They go away

[2019-02-18 22:57] cgwalters commented on #455
:thinking: Why are we still doing the pause image thing with cri-o? It always seemed silly...plus if we do need to do it we can pick another image to use for this right?

[2019-02-18 23:32] sjenning commented on #455
It holds open the pod-level namespaces, namely the network namespace.

This is so the namespaces can be initialized before the application starts (assign IPs and whatnot), and maintained if the application container(s) die and need to be restarted.

[2019-02-19 01:29] kikisdeliveryservice commented on #453
I saw this as well on a new cluster that was basically idle after spinning it up (ie made no changes or did anything with it but still saw the logging).

[2019-02-19 01:29] kikisdeliveryservice commented on #451
thanks @runcom managed to get past it on a PR but seeing it frequently in CI today.

[2019-02-19 03:09] umohnani8 commented on #453
So we start a `sharedFactoryInformer` (https://github.com/openshift/machine-config-operator/blob/master/cmd/common/controller_context.go#L44) with the objects that have informers/listers in client-go and set the `resyncPeriod` to about 20 minutes in https://github.com/openshift/machine-config-operator/blob/master/cmd/common/helpers.go#L31.
I followed what the `Informers.AddEventHandler` function d

[2019-02-19 09:53] runcom commented on #453
right but we would love to not run a resync if the config hasn't updated wrt what we previously observed. In the Kubelet and ContainerRuntime Config(s) we skip a sync if we already observed that given generation (meaning, the object hasn't changed). The Images CRD doesn't have an ObservedGeneration in its status, so I'm wondering how can we filter out not needed resync.

[2019-02-19 10:56] runcom commented on #417
I know what's happening for each of these flakes, the informer's cache uses an RWLock for objects and can Lock for object add and RLock for list so we can miss an add with `go test -race`

[2019-02-19 11:01] runcom commented on #417
controllers tests need to accout for a cache miss as they're designed to during sync

[2019-02-19 11:41] runcom commented on #417
I know what's happening, the listers for the mcp and the controllerconfig aren't in sync by the time we call `syncHandler` in tests and return an empty list which makes the `syncHandler` call `syncStatusOnly` which in turns call an unexpected (for the test) update action. I don't understand why the listers aren't in sync, they're just a store with a map and rwlock but there's no parallelism involv

[2019-02-19 17:38] vrutkovs commented on #455
In RHEL scaleup we use default CRIO config and change `pause_image` and `pause_command` - https://github.com/openshift/openshift-ansible/pull/11203/files#diff-8696e419a88c9744f085bc0a531bc511R49

[2019-02-19 18:01] mrunalp commented on #455
Also, since k8s added support for sharing pid namespaces, we can't get rid of the infra(pause) container as it is expected to be pid 1 for the pod.

[2019-02-19 19:19] umohnani8 commented on #453
I noticed the same thing happening for the two CRs, Infrastructure and Network, that the operator keeps track of - it also gets a resync about every 20 mins.
I opened https://github.com/openshift/machine-config-operator/pull/461 with an extra filter to double check that an actual change has happened to registrySources from the image CR before applying any changes.
Not sure how exactly we want to h

[2019-02-20 00:20] cgwalters opened #462 "upgrade fails in CI due to different generated release image names with same content"
I tried an upgrade from:
[code]
to:
[code]

Result:

[code]

Because:

[code]

Then we end up in a retry loop, finally the MCD dies and degrades the node, causing the upgrade to fail.

I think we should fix this in two ways.  First, pivot should detect when the inner ostree commit is the same and no-op.

The other fix is in the MCD; we could detect the case where the pull spec digest is identical

[2019-02-20 00:26] runcom commented on #462
Both fixes sound reasonable (second one looks a bit weak though, can someone craft an image with a digest not representing the content and fool the match to think we shouldn't upgrade cause they just match as strings? )

[2019-02-20 01:06] kikisdeliveryservice commented on #462
I was worried that this would happen, I'm leaning towards the first option.

[2019-02-20 02:03] cgwalters commented on #462
PR in https://github.com/openshift/machine-config-operator/pull/463

[2019-02-20 02:11] cgwalters commented on #462
Hmm...to get to that point though you'd need the ability to write to the `machine-config-osimageurl` configmap which...basically gives you the ability to install arbitrary OS payloads anyways.

[2019-02-20 02:13] cgwalters commented on #462
This is possible but ugly to implement for a few reasons.  One of those is the rest of the MCD code is just not prepared for "osimageurl is different but pivot is a no-op" (and we could make it not a no-op but it really is...)

[2019-02-20 11:51] #453 closed

[2019-02-20 12:22] runcom commented on #462
yeah, it's basically a non-issue cause at that point we're screwed anyway that's why I was wondering...

[2019-02-20 15:34] umohnani8 commented on #455
@sjenning is the `pod` image coming from docker.io or quay.io?

[2019-02-20 15:52] runcom opened #465 "Prevent OSImageURL from being set by users"
I'd love a way to prevent people from creating machineconfigs that set osimageurl (and/or edit the current ones?). Ideally, I can see the CVO driving that w/o user input at all. This will reduce the chance for users to do something bad (in my view, if it's not wrong).
We could detect if a machineconfig has an osimageurl and just override it with what we have in the controllerconfig resulting in a

[2019-02-20 16:12] #444 closed

[2019-02-20 16:12] #449 closed

[2019-02-20 16:12] #451 closed

[2019-02-20 21:39] runcom commented on #455
what's the name of that image that I can query with `releasepayloadimage image {pod}`?

this has to go through https://github.com/openshift/installer/blob/master/data/data/bootstrap/files/usr/local/bin/bootkube.sh.template#L155 right?

[2019-02-21 00:01] kikisdeliveryservice opened #468 "mco/mcc: Erroneous error messages flooding logs"
**Description**
These are not our error messages, but wanted to create an issue to keep this on our radar.  After a cluster is up for an hour or two `oc logs -f...` (for the mco/mcc) is filled with hundreds of lines of different error messages for ex:
[code]
It will make it extremely hard for users to see our output to the logs and makes for a really confusing UI. This seems to be relatively recen

[2019-02-21 14:26] ashcrow commented on #468
Possibly related (as they contain the same logs):
- https://github.com/openshift/machine-config-operator/issues/395
- https://github.com/openshift/machine-config-operator/issues/393

[2019-02-21 18:18] cgwalters commented on #455
https://github.com/openshift/machine-config-operator/pull/343 is a good prior change for "get an image from the release payload into configs".

[2019-02-22 15:16] runcom commented on #407
what I'm seeing on `oc adm upgrade` is that the _new_ operator is (ofc) the one being rolled out, do you mean we should pause the new operator until all _old_ pools are idle?

[2019-02-22 15:30] cgwalters commented on #407
At the moment it's dangerous to kill the MCD unless it's idle.  We can and should harden things against that - there are small things we could do which would make it more reliable, but getting to "100% interruptable"...not easy.

Simplest thing I think is to enforce the property "if a pool is updating" then "ds/machine-config-daemon is complete".

So in this case yeah I think the new operator woul

[2019-02-22 18:18] runcom opened #478 "rekick an MCD sync after a failure"
If e.g. pivot fails, do we have/want a way to rekick the whole process? right now we seem to be going Degraded and live with that. QE raised an interesting question though: is my cluster just busted then if everything is degraded? how do we get back to a working state manually if possible?

Not something we can fix right away, but worth documenting _if_ there's a way today (like killing the MCD?)

[2019-02-22 18:19] cgwalters commented on #478
https://github.com/openshift/machine-config-operator/issues/254#issuecomment-455179843

[2019-02-22 18:19] runcom commented on #478
omg, thanks Colin :heart:

[2019-02-22 18:19] #478 closed

[2019-02-22 18:19] cgwalters commented on #478
Can we close this issue as a dup of #254 ?

[2019-02-22 19:49] cgwalters commented on #283
One thing that came up in a lot of discussion about migration to 3.x is that actually today [the template controller uses Container Linux Configs](https://github.com/openshift/machine-config-operator/blob/0648af912decf4ebb7c7251bdbcf2ecb997bbc01/pkg/controller/template/render.go#L293).

It looks like CLCs have inline data (which is a natural thing to do in YAML), and presumably that's why we're do

[2019-02-22 21:02] ajeddeloh opened #479 "MC* should use Ignition's validation logic to validate Ignition types"
**Description**

MCO/MCD can currently use MCs that contain Ignition types that are invalid according to Ignition. It should check that the configs are valid using [Ignition's validation logic](https://github.com/coreos/ignition/blob/spec2x/config/validate/validate.go#L108).

**Steps to reproduce the issue:**
1. Create a machine config that should be invalid (e.g. use a relative path for a file)
2

[2019-02-22 21:05] kikisdeliveryservice commented on #479
I can confirm through testing on my cluster that I am able to create and apply a machineconfig with what should be invalid ignition config fields.
For example, I am able to write a file to a relative path `home/whatever` and a mc is generated and applied successfully without error via the MCD.

[2019-02-22 21:25] runcom commented on #479
I would add that we don't need to Degrade in such a case, just (sort of) rejecting the MC if possible

[2019-02-22 21:26] ajeddeloh commented on #479
Ideally whatever is generating it should fail instead of whatever is consuming it. Invalid MCs should probably be disallowed everywhere if that's possible

[2019-02-22 21:28] kikisdeliveryservice commented on #479
/assign

[2019-02-22 21:30] kikisdeliveryservice commented on #479
as per convo with @runcom We'll have to go Degraded on bad MCs for now and then iterate once the Unreconcilable epic is done switch to that.

[2019-02-23 00:58] cgwalters opened #480 "upgrade control plane before compute"
We need to upgrade masters before workers when doing OS updates.

This is a messy topic because so far we've intentionally conflated "config change" and "OS update".  Maybe simplest is to just have the node controller just prioritize `master` (or we add a generic `priority` integer or something).  But basically I think simplest is to do this in the node controller.

Another approach would be for t

[2019-02-23 02:20] kikisdeliveryservice commented on #479
Started on this, will pick it up on Monday.

[2019-02-23 02:29] #462 closed

[2019-02-23 12:13] runcom commented on #480
thanks for filing this out Colin

[2019-02-24 13:51] cgwalters opened #485 "daemon: Don't reboot for noops"
Now that https://github.com/openshift/machine-config-operator/pull/463 landed I was playing with an upgrade; it seems to work fine:

[code]

Cool.  But...we still reboot the cluster in the middle of the upgrade for...I'm pretty sure a no-op.

Eventually of course we should support live updates.  But for now, maybe do the "matching digest" bit when reconciling and detect if there are no other chang

[2019-02-24 13:54] cgwalters opened #486 "daemon: deinstall SIGTERM handler before rebooting"
https://github.com/openshift/machine-config-operator/pull/477 introduced an (in retrospect) obvious regression:

[code]

We need to de-install our SIGTERM handler after we've queued the reboot.  Actually we could just exit our process too.  See also https://github.com/openshift/machine-config-operator/pull/237

[2019-02-24 14:19] cgwalters opened #487 "upgrade: version sync failure"
OK, in my local upgrade test now:

[code]

The pod/images state looks OK offhand:

[code]

So presumably the operator code isn't correctly picking up the new versions?

[2019-02-24 15:19] runcom commented on #487
What's the expected behavior for this to be correct? How do I reproduce? I'm familiar with the error but did it break?

[2019-02-24 15:20] runcom commented on #487
It looks like operator and controllers progressed but the pool was still syncing with an older version?

[2019-02-24 15:22] runcom commented on #485
Yeah, I'd go with detecting if there are no changes during reconciling

[2019-02-24 15:52] runcom commented on #486
/kind bug

[2019-02-24 18:24] runcom commented on #487
The situation seems to be:

- The master pool was correctly generated from the new controller with the new version
- The master pool from above contains an MC fragment (container runtime registries) that was generated by the old controller

[2019-02-24 18:28] runcom commented on #487
oooh, ok I found the bug :tada:

[2019-02-24 19:43] runcom commented on #479
just noticed that we're not setting the ignition version to:

- SSH MCs (00-*-ssh)
- registries MCs (99-*-registries)

we should be doing that afaict.

[2019-02-24 20:22] #487 closed

[2019-02-24 22:16] #486 closed

[2019-02-25 16:43] cgwalters opened #492 "MCS: Supporting Ignition v3"
Related https://github.com/openshift/machine-config-operator/issues/479

Using "I2" and "I3" for shorthand "Ignition spec v2" and "Ignition spec v3".

We need to support upgrades from 4.0 → 4.1.  It feels like we need to simultaneously support I2 and I3 when booting a node.  This is related to the MCS (Ignition server).  A new master machine boots and the OS speaks I3.  Does the MCS have both rend

[2019-02-25 17:38] runcom opened #493 "Controller for garbage collecting generated MCs"
A controller would fit this and periodically sync the machineconfigs referenced in pools and delete unused anymore. Problem might be broader (maybe?) and there are other issues around as well.

[2019-02-26 02:47] kikisdeliveryservice opened #498 "MCC: ssh & registries MachineConfigs missing ignition versions"
**Description**
Now that we are adding validation/upgrading Ignition, we need to make sure all generated machineconfigs have versions so that they are valid as per ignition logic. Currently this doesn't cause any issues, but let's be consistent.

**Steps to reproduce the issue:**
1. run installer
2. `oc get machineconfigs`
3. note that ssh & registries configs are missing ignition versions:
[code]

[2019-02-26 02:47] kikisdeliveryservice commented on #498
I'll work on this tomorrow.

/assign

[2019-02-26 22:00] jlebon commented on #493
Might be better to keep this discussion in #354?

[2019-02-26 22:03] runcom commented on #493
that's it, thank you

[2019-02-26 22:03] #493 closed

[2019-02-26 22:05] runcom opened #501 "errors strings must start with lowercase"
As a general rule as the guideline says: https://github.com/golang/go/wiki/CodeReviewComments#error-strings

Let's keep this open till most of the code is polished and we'll be more strict when reviewing PRs.
Keep it open as a tracker for PRs that are cleaning the current code.

Ref: https://github.com/openshift/machine-config-operator/pull/481#discussion_r260157691

[2019-02-26 22:07] runcom opened #502 "MCC should have MCs Ignition validation"
Taken from: https://github.com/openshift/machine-config-operator/pull/481#issuecomment-467579138

We should add ignition validation to the MCC as well (it's gonna be in MCD via #481 )

[2019-02-26 22:16] kikisdeliveryservice commented on #501
I will make the changes in update.go!

[2019-02-26 22:17] kikisdeliveryservice commented on #502
On it!

[2019-02-26 23:07] kikisdeliveryservice commented on #502
Ok, so for this, I'm going to do #498 first otherwise, those will fail ignition validation that I add in the MCC bc they don't have a version..

[2019-02-26 23:29] kikisdeliveryservice commented on #498
cc: @ajeddeloh

[2019-02-27 00:55] #479 closed

[2019-02-27 21:30] kikisdeliveryservice opened #507 "docs: Provide Machine Config Spec"
**Description**

We should add a full machine config spec to the documentation showing the definitively supported, optional and required fields, etc.. This will go a long way to reducing users from submitting bad machine configs and provides one place to explicitly and clearly state what's in a valid machine config.

Some ideas for format:
https://github.com/coreos/container-linux-config-transpile

[2019-02-28 12:15] #455 closed

[2019-02-28 13:57] abhinavdahiya commented on #269
ping @kikideliveryservice

Is this going to be fixed before 4.0 GA

[2019-03-01 17:21] LorbusChris opened #516 "Differentiate between source and rendered machineconfigs"
There should be a way to differentiate between supplied source and rendered machineconfigs other than their names,

e.g. through a `rendered` property on the CRD which could show up as a column on `oc get machineconfigs`.
Open to other suggestions to implement this.

[2019-03-01 18:29] kikisdeliveryservice commented on #516
We can add a column sure, but I also think naming the generated configs something other than `worker-23409382094823904283 `would be helpful (I don't know: `worker-config-version-01` or something more human readable..)

Along with updating the documentation to explain what the rendered master/worker config is, would go a long way to clarifying this.

[2019-03-01 18:31] kikisdeliveryservice commented on #507
Add: not documenting this makes us rely solely on Ignitions documentation, which is confusing since we don't even support all of the config fields.

I think for 4.1 we should start doing this.

[2019-03-01 18:37] cgwalters commented on #516
Aside from the checksum, one way you know today is:

[code]

We could prefix them with `rendered-` maybe too?

A lot of implications to moving away from the checksum approach.  Among other things, the bootstrap flow today relies on it.

[2019-03-01 18:38] runcom commented on #516
I'm down to that, `rendered-` would clear out most of the confusion I guess

[2019-03-01 18:39] kikisdeliveryservice commented on #516
Ah gotcha, that's for the explanation @cgwalters
I think prefixing with `rendered-` or something like that would be great.

[2019-03-01 18:48] cgwalters commented on #516
@LorbusChris want to assign this one to yourself?  Or who is taking this?

[2019-03-01 18:54] LorbusChris commented on #516
/assign

[2019-03-01 19:46] miabbott opened #519 "investigate high CPU usage"
@smarterclayton says:

[2019-03-01 19:58] kikisdeliveryservice commented on #519
Some more information:
in general most healthy operators at steady state on unloaded clusters should be 10millicore, and operators that have per node agents can budget 5-10millicore per node

[2019-03-01 20:03] kikisdeliveryservice commented on #519
[code]

[2019-03-02 09:13] DanyC97 opened #520 "potential backport on okd 4.0 assuming K8s 1.12 is being targeted"
you might already be aware of the issue, however in case you haven't i thought i should just give you a heads up.

Assuming you targeting 4.0 with 1.12 (as per latest openshift blog published by @crawford ) you should be aware of [this](https://github.com/kubernetes/kubernetes/issues/74412#issuecomment-468437599) issue which is forcing a golang version bump before 1.14 gets into freeze move

There

[2019-03-03 00:56] crawford commented on #520
Thanks for the heads-up! I'm going to let @runcom close this to make sure he sees it.

[2019-03-04 21:56] runcom commented on #520
is there anything we (mco) should do here? (I'm probably missing something obvious) Is this an heads up that we're just going to upgrade golang and make sure everything still works fine here?

[2019-03-04 22:40] RobertKrawitz commented on #520
For now we're going to simply cherrypick the point fix, revert the use of the watch-based monitoring strategy in favor of the previous caching code that doesn't have this problem (I have a cherrypick PR waiting to go as soon as https://github.com/kubernetes/kubernetes/pull/74842 merges).  @rphillips and I were discussing whether the MCO should block any attempt by the user to change the default; t

[2019-03-05 01:13] rphillips commented on #520
I added a PR to prevent the KubeletConfiguration variable being changed by the user.

[2019-03-05 07:56] runcom commented on #520
Awesome, thanks for the clarification

[2019-03-06 21:30] cgwalters opened #528 "Host trusted CA certs"
EDIT: See https://github.com/openshift/machine-config-operator/issues/528#issuecomment-511452454

---

I'd like to be able to configure my hosts to trust a CA internal to my company, so I can pull container images from there.

Note that while Ignition has a `security.certificateAuthorities` it in fact [only applies to Ignition fetching configs](https://github.com/coreos/ignition/pull/636) which is

[2019-03-06 22:38] runcom commented on #528
if this is for pulling container images we've done that already and demoed it ~2months ago at least. Basically we lay down registries certificates in the cri-o location where it's gonna look and trust them on pull.

@mrunalp do you remember ^^ (I'm currently afk so can't check it but I remember doing that demo 😄 )

[2019-03-07 13:28] runcom commented on #528
ok found it, here's the asciinema https://asciinema.org/a/221479 - we might want to convert that to official doc but not on us I guess

[2019-03-07 14:01] cgwalters commented on #382
Marking as dup of https://github.com/openshift/machine-config-operator/issues/234

[2019-03-07 14:01] #382 closed

[2019-03-07 14:02] cgwalters commented on #234
Also, the MCP really needs to show `(total: 3, updated: 0, unavailable: 1, degraded: 1)` or so.

[2019-03-07 14:13] cgwalters opened #530 "configure master bootstrap Ignition to stream logs to bootstrap node"
If e.g. pivoting fails for some reason on the masters, the logs aren't easily accessible.  We could change the bootstrap Ignition generated by the MCD to stream logs to the bootstrap node for aggregation.

(Or we could make that change in the installer, have it append to the Ignition)

[2019-03-07 17:55] mrunalp commented on #528
We will follow with Chris Negus on the docs.

[2019-03-07 17:58] kikisdeliveryservice commented on #528
Thanks @mrunalp !

[2019-03-07 23:54] runcom commented on #528
closing this, no code/doc should land here

[2019-03-08 00:43] kikisdeliveryservice opened #534 "[draft] kubelet-config: revert PR #524 after golang 1.12/ k8s 1.14 updates"
Taken from https://github.com/openshift/machine-config-operator/pull/524#pullrequestreview-210739498

"ConfigMapAndSecretChangeDetectionStrategy" to be added in #524 should be removed from `var blacklistKubeletConfigurationFields` when we switch to golang 1.12/rebase to kubernetes 1.14

Related: #524

(crated as a draft issue since 524 has not yet merged)

[2019-03-11 19:31] cgwalters commented on #528
Trusting a registry isn't the same thing as installing a host-global CA cert.

[2019-03-11 19:35] cgwalters commented on #528
In case anyone is curious, the referenced operator is https://github.com/openshift/cluster-image-registry-operator/#image-registry-certificates-configmap

In practice actually, that operator won't help with what I want since we're pulling direct via `podman` to the host, we aren't doing a pull-through to the internal registry.

[2019-03-11 20:59] kikisdeliveryservice commented on #501
Opened PR #539 that updates the mcd gofiles: daemon.go, node.go, osrelease.go, rpm-ostree.go, update.go, writer.go

[2019-03-11 23:50] runcom commented on #528
Laying down certificates in that way I demoed works for Podman as well as containers/image is still the pull driver. I'm not sure what the use case is here. If it's for pulling images, whether Podman or the Openshift builder or whatever including docker, the method above works just fine afaict.

[2019-03-12 14:54] cgwalters opened #543 "Fix dependency on chroot"
Today the way the MCD `chroot` into the host creates all sort of problems.  I believe this was done for a few reasons:

 - We can speak DBus to e.g. systemd/rpm-ostree
 - When processing Ignition we don't have to deal with the rootfs prefix

And over time we've had to add hacks like https://github.com/openshift/machine-config-operator/pull/370 to pick up things from the Kube side.

Dealing with DB

[2019-03-12 14:57] cgwalters commented on #543
One thing that might actually help us a lot architecturally too is to also have the "once-from" code (basically Ignition handling) also be built into an RPM that goes into the host.  And then when we want to run it rather than using `chroot` we actually `systemd-run` it just like we do for rpm-ostree.

[2019-03-12 15:41] ashcrow commented on #543
:+1: to https://github.com/projectatomic/rpm-ostree/commit/e94f8c9b5f8e327c792156d6f154aedcba96ef16 ... though we will need to build that package and get it into composes for it to be used.

I like this path.

[2019-03-12 16:58] cgwalters commented on #543
I just did https://github.com/openshift/machine-config-operator/pull/545
which I think simplifies the code and will help avoid the immediate crasher.

Basically, while I think going down the exec path is a good idea it's fairly risky/involved at the moment.
Dropping our dependency on everything using cgo should get us unblocked.

[2019-03-12 17:31] kikisdeliveryservice opened #546 "e2e: mcd ssh keys"
Verify that MCD can update SSH Keys

cc: @runcom

[2019-03-12 19:09] jlebon commented on #543
Previous discussions on this subject in #45. Definitely agree overall we should only be chroot'ing for the parts we really have to.

which I think simplifies the code and will help avoid the immediate crasher

What's the crasher BTW?

[2019-03-12 19:11] cgwalters commented on #543
[code]

[2019-03-12 20:00] kikisdeliveryservice commented on #546
/assign

[2019-03-12 20:41] #498 closed

[2019-03-13 21:19] cgwalters commented on #519
I suspect the CPU usage from the MCS pods is related to the ELB health checks (/healthz) as defined by the installer.   Looks like the interval there is every 10 seconds.

[2019-03-13 21:58] runcom commented on #519
yaeh that makes sense, not sure we want the check to be less frequent or something else. The MCS is super simple web server which I cannot find any way to make it leaner (/cc @wking @smarterclayton )

[2019-03-13 22:27] wking commented on #519
Where is the measured 10-second interval coming from?  Logs for a random, recent run are not enlightening:

[code]

How would folks feel about using something like [lestrrat-go/apache-logformat](https://github.com/lestrrat-go/apache-logformat) to wrap our handler?

[2019-03-13 22:49] runcom commented on #407
can this be closed due to #477

[2019-03-14 13:29] cgwalters commented on #519
https://github.com/openshift/installer/blob/4b12088025778add89e95099eaeebb773c39436d/data/data/aws/vpc/master-elb.tf#L90

right?

[2019-03-14 14:04] cgwalters opened #550 "increase frequency of pool -> operator status reporting"
https://github.com/openshift/origin/pull/22302#issuecomment-472694227

From Derek:

master-e2e-aws-upgrade/14/build-log.txt

looking at https://github.com/openshift/machine-config-operator/blob/f97747550f42821725f2853b211cc48d4c0df42e/pkg/operator/sync.go#L320

i see on every operator sync, we drop into that function and wait 10m for the sync of all pools to complete.

is it possible to 1) report

[2019-03-14 14:07] runcom commented on #550
my reply is here https://github.com/openshift/origin/pull/22302#issuecomment-472868298

[2019-03-14 14:29] wking commented on #519
I meant "how did we decide it was the health checks that were causing the high CPU usage?".  We could adjust the health-check interval, but serving those responses is just "[hand back a 204][1]".  I don't see that costing many cycles, and if somehow it *is* terribly expensive, it makes me very concerned about how well the MCS will handle for its real job of serving Ignition configs.

[1]: https://

[2019-03-14 15:13] cgwalters commented on #519
I didn't look, just a theory.

[2019-03-14 15:17] runcom commented on #299
This is gonna be fixed by this commit https://github.com/openshift/machine-config-operator/pull/548/commits/89d24539555cf7421d25e6c9a4b81d3581662f1c in #548

[2019-03-15 01:19] #299 closed

[2019-03-15 01:19] #395 closed

[2019-03-15 21:22] #502 closed

[2019-03-15 23:33] runcom commented on #407
as discussed during sync, we feel #477 cover pretty much this, closing, feel free to reopen if you feel otherwise

[2019-03-15 23:33] #407 closed

[2019-03-17 15:55] runcom commented on #338
fix here https://github.com/openshift/machine-config-operator/pull/482/commits/9e3ad6525caf81362750d2d9b32bfe4ea487ff06 in #482

[2019-03-18 00:05] runcom commented on #550
Increased frequency of poll (by removing the polling altogher, now we just act as a controller), also added logs about unavailable nodes for inspection/debugging

[2019-03-18 00:05] #550 closed

[2019-03-18 09:12] runcom commented on #492
This card is now out of scope, we should be updating the whole Ignition dependecy to v3 once it comes out and adjust the code.

[2019-03-18 09:14] runcom commented on #414
fixed by #423

[2019-03-18 09:14] #414 closed

[2019-03-18 17:00] cgwalters commented on #543
Leaving this issue open; https://github.com/openshift/machine-config-operator/pull/545 merged which solves our immediate problem, but we should still do this at some point to avoid hacks like https://github.com/openshift/machine-config-operator/pull/370

[2019-03-19 01:28] #338 closed

[2019-03-20 18:10] runcom commented on #254
This is now a thing with #560

[2019-03-20 18:10] #254 closed

[2019-03-20 18:38] kikisdeliveryservice opened #565 "mcc: replace cttypes with ign v3 types"
Just making this for future change:
Once ign v3_0 is release replace `cttypes` in transpiling to ign functions (ssh, files, systemd units in render.go) with `http://github.com/coreos/ignition/config/v3_0/types` - to be created.

cc: @runcom @ajeddeloh

[2019-03-20 19:01] runcom commented on #234
do we want _any_ error during a sync which can result in degraded/unreconcilable to be added in this annotation? I want to hash this out so we can bubble this information up from MCD logs to nodes annotation for an instant debug, wdyt?

[2019-03-20 19:10] kikisdeliveryservice commented on #234
@runcom adding the _reason_ an MC is unreconcilable would be extremely helpful for a user rather than them having to bumble thru MCD logs.

[2019-03-20 21:17] runcom commented on #234
Yeah, but we also want to provide explaination when for instance, pivot fails but that just marks degraded, not unreconcilable uhm

[2019-03-20 23:36] kikisdeliveryservice opened #567 "e2e: TestMCDeployed taking 80% of e2e test time"
TestMCDeployed is currently taking ~40 minutes to run.
Our test limit is 50m: `GOCACHE=off go test -timeout 50m -v${WHAT:+ -run="$WHAT"} ./test/e2e/`

As it stands the current e2e tests take ~41 minutes.  When I try to run my new test https://github.com/openshift/machine-config-operator/pull/541 it times out after 9 minutes because we have hit the total test time of 50.

Relevant logs from https:/

[2019-03-21 13:28] runcom commented on #567
That test is critical to make sure the basic functionality works. I'm fine raising the test time to at least 1h and a half

[2019-03-21 16:51] kikisdeliveryservice commented on #567
Ok, I'll let you know.

[2019-03-21 18:58] #516 closed

[2019-03-21 21:19] kikisdeliveryservice commented on #567
I believe that #563 fixed this problem.  All of the e2e-aws-op tests were able to run with no timeouts!

Closing this issue.

[2019-03-21 21:19] #567 closed

[2019-03-21 21:45] #546 closed

[2019-03-22 16:45] praveenkumar opened #571 "Error finding pools for node: node belongs to more than one MachineConfigPool"
**Description**

machine-config-operator is in False state because master is labeled as master and worker which should be the case.

**Steps to reproduce the issue:**
1.  Use https://github.com/openshift/installer/blob/master/docs/user/customization.md#control-plane-with-no-taints to make master node no-taint one.
2. Edit the $CLUSTER_DIR/openshift/99_openshift-cluster-api_master-machines-0.yaml a

[2019-03-22 17:12] kikisdeliveryservice commented on #571
@praveenkumar machine configs currently do not support multiple roles.  From:
https://github.com/openshift/machine-config-operator
`Note this configuration only applies to workers (see the role: worker label); currently if you want to apply to both master and workers, you must create two separate MachineConfig objects.`

[2019-03-23 00:05] runcom commented on #571
I believe this is a duplicate of #429 - I'm not sure this scenario is supported though other than on libvirt. If it's supported, then surely it's a bug we need to fix

[2019-03-25 05:48] praveenkumar commented on #571
@kikisdeliveryservice So as per the README doc it make sense if I need to apply a machine config on different label (like master and worker). As per my use case I just want to have my master also behave like worker and workloads are transferred to it once it is no tainted. During 0.14.0 installer release timeframe it was working and didn't see this kind of issue, is this recently changed?

cc @abh

[2019-03-25 09:02] runcom commented on #571
This has never worked afaict. Master and worker roles are different enough to not be applicable to just a machine

[2019-03-25 12:23] #465 closed

[2019-03-25 13:51] cgwalters commented on #571
This is the opposite problem in a sense - it's a machine with multiple roles, whereas the issue I think you're talking about is having a single MC apply to multiple roles (separate machines).

Yeah, although in this case we're talking about the MCO's built-in roles.  Hm.  In this case I believe we don't want *any* worker config to apply to the machine, the master config should be sufficient.

We n

[2019-03-25 14:00] runcom commented on #571
@cgwalters forgot about CodeReady Containers, thanks. And yeah, the above could work just fine.

[2019-03-25 14:22] cgwalters commented on #429
Generalizing a bit, using the term "custom role" to mean "not master,worker", I think the logic should be:

 - master "subsumes" worker
 - Any custom role subsumes worker

IOW, we just error out if there are multiple custom roles assigned to a node, and we also don't support custom masters.  Sound good?

[2019-03-25 14:24] runcom commented on #429
it does yeah

[2019-03-25 14:59] praveenkumar commented on #571
@runcom Please don't forget about us :)

@cgwalters thanks for the patch, can this be the part of the controller?

[2019-03-25 15:32] cgwalters commented on #571
Yep, I'm on it.

[2019-03-25 22:35] #571 closed

[2019-03-26 06:41] praveenkumar opened #579 "[libvirt] Failed to resync clusterversion because: error pool master is not ready"
**Description**

machine-config-operator is in False state because master pool is not ready (more than an hour)

**Steps to reproduce the issue:**
1. Use https://github.com/openshift/installer/blob/master/docs/user/customization.md#control-plane-with-no-taints to make master node no-taint one.
2. Edit the $CLUSTER_DIR/openshift/99_openshift-cluster-api_master-machines-0.yaml and add worker as labe

[2019-03-26 10:29] runcom commented on #579
we need machine-config-daemon logs as well

[2019-03-26 11:45] praveenkumar commented on #579
@runcom here you go.

[code]

[2019-03-26 11:49] runcom commented on #579
[code]
looks like it's flipping from master to worker :thinking: @cgwalters ptal

[2019-03-26 15:18] cgwalters opened #582 "Add new node.openshift.io/rhelmajor=7|8 label"
https://github.com/openshift/machine-config-operator/pull/514 added the OS version but it isn't usable as a selector for e.g. daemonsets that just care about RHEL major (e.g. iptables vs nftables).

Let's add a new label and implement it for both RHCOS and BYO RHEL.

Proposal is: `node.openshift.io/rhelmajor=7|8`.

[2019-03-26 15:23] ashcrow commented on #582
`node.openshift.io/rhelmajor=7|8` makes sense to me.

[2019-03-26 15:27] ashcrow commented on #582
The RHCOS `VERSION` or `VERSION_ID` can be parsed to set this like so: `echo $VERSION | cut -d . -f 2`

[2019-03-26 15:29] sjenning commented on #582
fyi @rphillips

[2019-03-26 22:15] mhrivnak opened #585 "Don't re-download release image"
As I understand it, the release image will be downloaded by each individual node when it is time to upgrade that node. The redundant downloading may have little impact in a public cloud environment, where the image is likely being downloaded from inside the cloud environment. On-prem clusters downloading over the internet will feel a greater impact from downloading the same image many times.

It w

[2019-03-27 10:25] runcom opened #588 "move types to openshift/api"
Types other than the machineconfig type should live in openshift/api and clients generated for them over there. See https://github.com/openshift/api/issues/216.

[2019-03-27 11:31] runcom commented on #585
mmm the machine-config-operator isn't playing with the release image, maybe this is intended for another repo or bugzilla?

[2019-03-27 12:17] mhrivnak commented on #585
This RFE is following up on this thread: https://github.com/openshift/machine-config-operator/pull/561#discussion_r267107240

Maybe I'm using the wrong term?

[2019-03-27 12:19] runcom commented on #585
:man-shrugging: it's ok then, even if I think it's an infra issue rather than a MCO only one

[2019-03-27 12:36] mhrivnak commented on #585
@cgwalters WDYT? Anything I can do to improve this issue?

[2019-03-27 12:55] cgwalters commented on #585
I don't see why the answer to this is any different than the other containers.  (Barring of course the current fact that `machine-os-content` is one of the larger ones)

There are a whole lot of ways to address this.  First is `oc adm release mirror`, although AIUI today the problem with that is it changes the checksums which breaks higher level things like Cincinnati.

It certainly seems to me th

[2019-03-27 13:06] runcom commented on #585
right, that's why I thought this issue doesn't belong specifically to MCO. I remember discussions in CRI-O around distributed file sharing (torrent) and pull-through mechanism to achieve what this PR is aiming for.

[2019-03-27 13:14] cgwalters commented on #585
Yeah, I don't know where else we'd file it though right now.

Thinking about this more there is one other special thing about `machine-os-content` - it's pulled directly by `podman` during early pivot, not kubelet/cri-o.  Which means any automatic caching would have to work very early on.

A model that might make a lot of sense is for the bootstrap node to pull the image and seed it to the masters

[2019-03-27 15:52] cgwalters commented on #388
A lot of discussion around this; one thing that seems increasingly clear is that we should use `MachineConfig` as a "sugar" for Ignition where it makes sense.

IOW, we start from this:

``
diff --git a/pkg/apis/machineconfiguration.openshift.io/v1/types.go b/pkg/apis/machineconfiguration.openshift.io/v1/types.go
index f7df1d5..318506c 100644
--- a/pkg/apis/machineconfiguration.openshift.io/v1/type

[2019-03-27 15:59] runcom commented on #388
cannot agree more with this...

[2019-03-27 19:48] cgwalters commented on #388
With https://github.com/projectatomic/rpm-ostree/issues/1802

the MCD in `upgrade.go` when detecting a diff between the current/target `KernelArgs` would first call `--remove` on the old ones, then `--add` for the new ones.

There's an alternative implementation path where the MCD reads the BLS config performs the diff internally, and calls the appropriate `rpm-ostree kargs ` invocation.

[2019-03-28 00:06] kikisdeliveryservice commented on #417
@runcom I think I'm actually seeing this flake in my PR today:
[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_machine-config-operator/583/pull-ci-openshift-machine-config-operator-master-unit/1752

[2019-03-28 08:36] runcom commented on #417
https://github.com/openshift/machine-config-operator/pull/583#issuecomment-477499657

this is not happening anymore as a flake, just a test failure unrelated but related to ignition transition

[2019-03-28 08:36] #417 closed

[2019-03-29 16:17] kikisdeliveryservice commented on #565
this is being addressed by #583
/assign

[2019-04-04 13:54] smarterclayton commented on #585
Maybe, but if we do that we need to fit it into the larger story around content.  I don't want to short circuit with an install hack, I want this to be the unified solution.

[2019-04-05 16:43] wking commented on #528
That's my use case (discussion in openshift/installer#472).  Docs would be great :).

[2019-04-05 20:39] cgwalters opened #606 "operator doesn't watch cm/machine-config-osimageurl"
I remember wrestling with this earlier...today it doesn't work to

[code]

Since the operator doesn't watch it I think; you have to "bounce" the operator (e.g. `oc delete -l k8s-app=machine-config-operator pods` and wait for it to come back).

Hmm and actually that got me a new `controllerconfig` but the MCC didn't react to that either, had to bounce it too.

I think we had a kind of assumption th

[2019-04-05 21:08] runcom commented on #606
so do we want the operator/controller to watch that cm and resync when it changes?

[2019-04-07 09:04] runcom commented on #606
I guess a simple test would be to create a payload which just overrides the machine-os-content and see how it goes? (should do nothing actually right?, then yeah, we need to fix it)

[2019-04-07 09:26] runcom commented on #606
[code]

Operator should resync on config map changes 🤔

[2019-04-07 17:40] runcom commented on #606
I also don't understand why we watch every config map change in the whole cluster to trigger our operator resync :/

[2019-04-07 18:24] runcom commented on #606
Update: scaling the CVO, updating the cm for osimageurl just worked for me, I can see the new CC with my dummy value for osimageurl

[2019-04-07 18:27] runcom commented on #606
The MCC also reacted just fine for the new CC:
[code]

[2019-04-09 03:05] praveenkumar commented on #579
@cgwalters ping, let me know if you have anything to test this out.

[2019-04-09 15:01] RobertKrawitz opened #614 "Add e2e test case for etcd-quorum-guard"
Current `etcd-quorum-guard` PR https://github.com/openshift/machine-config-operator/pull/613 does not include a test.

[2019-04-09 16:55] runcom opened #615 "kubelet config controller isn't failing correctly"
While working on #611 I got unit failures:

[code]

That failure is totally legit but it's super weird that we're not getting the same error in kubelet_config which is doing almost the same as the container_runtime controller.

Turns out, when something fails in the kubelet_config controller, we call `syncStatusOnly`.

Now, in the container_runtime controller, on error, we call that and correctly